force-app/main/default/flows/Accounting_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Group_Seq_Number</name>
        <label>Assign Group Seq Number</label>
        <locationX>1117</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>SeqNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempSeqNum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_all_AD_with_Sequence_number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_VAC</name>
        <label>Assign values from VAC</label>
        <locationX>299</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>vChartfield1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.CHARTFIELD1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.Fund_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDEPTID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.DEPTID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFiscalYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.Fiscal_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vViolationAccountingCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AD_with_no_accounting_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_VAC_with_AC</name>
        <label>Assign values from VAC with AC</label>
        <locationX>967</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>vAccountingCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.Accounting_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAltAcct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.ALTACCT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChartfield1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.CHARTFIELD1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.Fund_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDEPTID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.DEPTID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFiscalYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrelatedVAC.Fiscal_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vViolationAccountingCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovRelatedVACnoAC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AD_with_no_accounting_code_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GroupSeqNum</name>
        <label>GroupSeqNum</label>
        <locationX>1061</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>TempSeqNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupSeq.Group_Seq_Num__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_next_group_sequence_number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Code_Needed</name>
        <label>Account Code Needed</label>
        <locationX>499</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIssueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountingCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountingCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_VAC_Accounting_Code_needed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIssueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountingCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_VAC_no_Accounting_Code</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_next_group_sequence_number</name>
        <label>check for next group sequence number</label>
        <locationX>1143</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>loop_through_all_AD_with_Sequence_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_greater_than_current_Seq_num</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeqNum</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TempSeqNum</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Seq_Number</targetReference>
            </connector>
            <label>Is greater than current Seq num</label>
        </rules>
    </decisions>
    <description>Added logic to check for null value on accounting code field</description>
    <formulas>
        <description>BOF-ITEM number</description>
        <name>fItem</name>
        <dataType>String</dataType>
        <expression>{!vItem}</expression>
    </formulas>
    <formulas>
        <name>fMonetaryAmount</name>
        <dataType>Currency</dataType>
        <expression>if(OR({!vFundCode}=&apos;3071&apos;,{!vFundCode}=&apos;3072&apos;),{!vMonetaryAmount}/2,{!vMonetaryAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fncItem</name>
        <dataType>String</dataType>
        <expression>{!vItem}</expression>
    </formulas>
    <formulas>
        <name>NewGroupSeqNumber</name>
        <dataType>Number</dataType>
        <expression>If(AND(OR({!vEntryReason}=&apos;APEAL&apos;,{!vEntryReason}=&apos;INCRS&apos;),{!vFundCode}=&apos;3072&apos;,{!vTypeofEvent}=&apos;UA&apos;),({!SeqNum}+3),
If(AND({!vEntryReason}=&apos;RCLAS&apos;,{!vFundCode}=&apos;3072&apos;,{!vTypeofEvent}=&apos;TD&apos;),({!SeqNum}+3),
If(AND({!vEntryReason}=&apos;CONTG&apos;,{!vFundCode}!=&apos;3072&apos;,{!vTypeofEvent}=&apos;UA&apos;),({!SeqNum}+2),
If(AND({!vEntryReason}=&apos;RVREV&apos;,{!vFundCode}!=&apos;3072&apos;,{!vTypeofEvent}=&apos;TD&apos;),({!SeqNum}+2),
If(AND({!vEntryReason}=&apos;CONTG&apos;,{!vFundCode}=&apos;3072&apos;,{!vTypeofEvent}=&apos;UA&apos;),({!SeqNum}+4),
If(AND({!vEntryReason}=&apos;RVREV&apos;,{!vFundCode}=&apos;3072&apos;,{!vTypeofEvent}=&apos;TD&apos;),({!SeqNum}+4),
If(OR({!vFundCode}=&apos;3072&apos;,{!vEntryReason}=&apos;RVREV&apos;,{!vEntryReason}=&apos;CONTG&apos;),({!SeqNum}+2),({!SeqNum}+1))))))))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Accounting Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounting Data</label>
    <loops>
        <name>Create_AD_for_each_fund_Accounting_Code_needed</name>
        <label>Create AD for each fund -  Accounting Code needed</label>
        <locationX>807</locationX>
        <locationY>372</locationY>
        <assignNextValueToReference>sovRelatedVACnoAC</assignNextValueToReference>
        <collectionReference>socVACnoAC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_from_VAC_with_AC</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Create_AD_for_each_fund_No_Accounting_Code</name>
        <label>Create AD for each fund - No Accounting Code</label>
        <locationX>195</locationX>
        <locationY>376</locationY>
        <assignNextValueToReference>sovrelatedVAC</assignNextValueToReference>
        <collectionReference>socVAC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_from_VAC</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_through_all_AD_with_Sequence_number</name>
        <label>loop through all AD with Sequence number</label>
        <locationX>768</locationX>
        <locationY>35</locationY>
        <assignNextValueToReference>GroupSeq</assignNextValueToReference>
        <collectionReference>GroupSequenceNumber</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>GroupSeqNum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Code_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AD_with_no_accounting_code</name>
        <label>Create AD with no accounting code</label>
        <locationX>41</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Create_AD_for_each_fund_No_Accounting_Code</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vAccountingCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CHARTFIELD1__c</field>
            <value>
                <elementReference>vChartfield1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Issue__c</field>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEPTID__c</field>
            <value>
                <elementReference>vDEPTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_or_Credit__c</field>
            <value>
                <elementReference>vDebitorCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Reason__c</field>
            <value>
                <elementReference>vEntryReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Type__c</field>
            <value>
                <elementReference>vEntryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund_Code__c</field>
            <value>
                <elementReference>vFundCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Seq_Num__c</field>
            <value>
                <elementReference>NewGroupSeqNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>fItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monetary_Amount__c</field>
            <value>
                <elementReference>fMonetaryAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_event__c</field>
            <value>
                <elementReference>vTypeofEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uniq_Group_ID__c</field>
            <value>
                <elementReference>vUniqGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violation_Accounting_Code__c</field>
            <value>
                <elementReference>vViolationAccountingCode</elementReference>
            </value>
        </inputAssignments>
        <object>Accounting_Data__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_AD_with_no_accounting_code_0</name>
        <label>Create AD with no accounting code</label>
        <locationX>687</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Create_AD_for_each_fund_Accounting_Code_needed</targetReference>
        </connector>
        <inputAssignments>
            <field>ALTACCT__c</field>
            <value>
                <elementReference>vAltAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vAccountingCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CHARTFIELD1__c</field>
            <value>
                <elementReference>vChartfield1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Issue__c</field>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEPTID__c</field>
            <value>
                <elementReference>vDEPTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_or_Credit__c</field>
            <value>
                <elementReference>vDebitorCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Reason__c</field>
            <value>
                <elementReference>vEntryReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Type__c</field>
            <value>
                <elementReference>vEntryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund_Code__c</field>
            <value>
                <elementReference>vFundCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Seq_Num__c</field>
            <value>
                <elementReference>NewGroupSeqNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>fncItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monetary_Amount__c</field>
            <value>
                <elementReference>fMonetaryAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_event__c</field>
            <value>
                <elementReference>vTypeofEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uniq_Group_ID__c</field>
            <value>
                <elementReference>vUniqGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violation_Accounting_Code__c</field>
            <value>
                <elementReference>vViolationAccountingCode</elementReference>
            </value>
        </inputAssignments>
        <object>Accounting_Data__c</object>
    </recordCreates>
    <recordLookups>
        <name>Accounting_data_group_sequence_number</name>
        <label>Accounting data group sequence number</label>
        <locationX>496</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_all_AD_with_Sequence_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Uniq_Group_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>vUniqGroupID</elementReference>
            </value>
        </filters>
        <object>Accounting_Data__c</object>
        <outputReference>GroupSequenceNumber</outputReference>
        <queriedFields>Group_Seq_Num__c</queriedFields>
        <queriedFields>Uniq_Group_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_VAC_Accounting_Code_needed</name>
        <label>Lookup VAC  Accounting Code needed</label>
        <locationX>653</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AD_for_each_fund_Accounting_Code_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Violation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Penalty</elementReference>
            </value>
        </filters>
        <object>Violation_Accounting_Code__c</object>
        <outputReference>socVACnoAC</outputReference>
        <queriedFields>CHARTFIELD1__c</queriedFields>
        <queriedFields>DEPTID__c</queriedFields>
        <queriedFields>Fund_Code__c</queriedFields>
        <queriedFields>Accounting_Code__c</queriedFields>
        <queriedFields>ALTACCT__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Item__c</queriedFields>
        <queriedFields>Fiscal_Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_VAC_no_Accounting_Code</name>
        <label>Lookup VAC no Accounting Code</label>
        <locationX>337</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AD_for_each_fund_No_Accounting_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Violation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Penalty</elementReference>
            </value>
        </filters>
        <object>Violation_Accounting_Code__c</object>
        <outputReference>socVAC</outputReference>
        <queriedFields>CHARTFIELD1__c</queriedFields>
        <queriedFields>DEPTID__c</queriedFields>
        <queriedFields>Fund_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Item__c</queriedFields>
        <queriedFields>Fiscal_Year__c</queriedFields>
    </recordLookups>
    <startElementReference>Accounting_data_group_sequence_number</startElementReference>
    <status>Active</status>
    <variables>
        <name>ADseqnums</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GroupSeq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>GroupSequenceNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>Penalty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Penalty</stringValue>
        </value>
    </variables>
    <variables>
        <name>SeqNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SequenceNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounting_Code__c</objectType>
    </variables>
    <variables>
        <name>socVAC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Violation_Accounting_Code__c</objectType>
    </variables>
    <variables>
        <name>socVACnoAC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Violation_Accounting_Code__c</objectType>
    </variables>
    <variables>
        <name>sovrelatedVAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Violation_Accounting_Code__c</objectType>
    </variables>
    <variables>
        <name>sovRelatedVACnoAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Violation_Accounting_Code__c</objectType>
    </variables>
    <variables>
        <name>TempSeqNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The accounting code related to this case issue</description>
        <name>vAccountingCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountingDataID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAltAcct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseIssueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChartfield1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDebitorCredit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDEPTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntryReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFiscalYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFundCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMonetaryAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vProgramCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedAccountingCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vtempEntryReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vtempFundCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTypeofEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUniqGroupID</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vViolationAccountingCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
