force-app/main/default/flows/Account_Bankruptcy_Status_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_case_to_update_collection</name>
        <label>add case to update collection</label>
        <locationX>949</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>colCasestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_case_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>141</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>varAccountBankruptcyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dismissed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00163000007yfSa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hold_Status</name>
        <label>Set Hold Status</label>
        <locationX>787</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>objCase.Collections_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_case_to_update_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the bankruptcy status of the account from the case. Account bankruptcy status is passed from PB</description>
        <name>Account_in_Bankruptcy</name>
        <label>Account in Bankruptcy</label>
        <locationX>344</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Violation_Appeal_Deadline_NOT_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bankruptcy does NOT Apply</defaultConnectorLabel>
        <rules>
            <name>Bankruptcy_Applies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 12</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Case_to_Put_on_Hold</targetReference>
            </connector>
            <label>Bankruptcy Applies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found</name>
        <label>Cases Found</label>
        <locationX>526</locationX>
        <locationY>83</locationY>
        <defaultConnectorLabel>Case Not On Hold</defaultConnectorLabel>
        <rules>
            <name>Case_Put_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCaseStatusHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection</targetReference>
            </connector>
            <label>Case Put On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found_0</name>
        <label>Cases Found</label>
        <locationX>147</locationX>
        <locationY>692</locationY>
        <defaultConnectorLabel>No Case End Process</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCaseStatusHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_Case_to_update</name>
        <label>Collection has Case to update</label>
        <locationX>997</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cases_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCasestoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Hold_on_Cases</targetReference>
            </connector>
            <label>Cases to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Found_With_Hold</name>
        <label>Liabilities Found With Hold</label>
        <locationX>698</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>Loop_over_case_collection_for_liab_subject_to_writ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Subject_to_Writ_Found</name>
        <label>Liabilities Subject to Writ Found</label>
        <locationX>1258</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Writs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Liab_Subject_to_Writ_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_for_liab_subject_to_writ</targetReference>
            </connector>
            <label>Liab Subject to Writ Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Writs_Found</name>
        <label>Open Writs Found</label>
        <locationX>875</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>Set_Collection_Hold_On_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Writs Found</defaultConnectorLabel>
        <rules>
            <name>Writs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOpenWrits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Writs found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>141</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_in_Bankruptcy</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Violation_Appeal_Deadline_NOT_Passed</name>
        <label>Violation Appeal Deadline NOT Passed</label>
        <locationX>257</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Find_Open_Case_to_take_OFF_on_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Violation_Appeal_Deadline_NOT_Passed_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Collection_Hold_by_Appeal_Deadline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Violation Appeal Deadline NOT Passed Applied</label>
        </rules>
    </decisions>
    <description>This flow sets all the related cases to Collection Hold of true and evaluates if it needs to be removed. This passes from PD.</description>
    <interviewLabel>Account Bankruptcy Status Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Bankruptcy Status Changes</label>
    <loops>
        <name>Loop_over_case_collection</name>
        <label>Loop over case collection</label>
        <locationX>785</locationX>
        <locationY>86</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Hold_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_has_Case_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_case_collection_0</name>
        <label>Loop over case collection</label>
        <locationX>450</locationX>
        <locationY>870</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FastLiability_Status_Under_Appeal</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_case_collection_for_liab_subject_to_writ</name>
        <label>Loop over case collection for liab subject to writ</label>
        <locationX>881</locationX>
        <locationY>671</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FastLiability_Subject_to_Writ</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FastLiability_Status_Under_Appeal</name>
        <label>FastLiability Status Under Appeal</label>
        <locationX>445</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Found_With_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Appeal</stringValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLiability_Subject_to_Writ</name>
        <label>FastLiability Subject to Writ</label>
        <locationX>1253</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Subject_to_Writ_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject_to_Writs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Case_to_take_OFF_on_Hold</name>
        <label>Find Open Case to take OFF on Hold</label>
        <locationX>144</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>colCaseStatusHold</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collections_Hold__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks for open writs on the case to determine if the hold is necessary or not</description>
        <name>Get_Open_Writs</name>
        <label>Get Open Writs</label>
        <locationX>1262</locationX>
        <locationY>862</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Writs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Writ__c</object>
        <outputReference>colOpenWrits</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Open_Case_to_Put_on_Hold</name>
        <label>Open Case to Put on Hold</label>
        <locationX>346</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>colCaseStatusHold</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collections_Hold__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Collection_Hold_On_Case_0</name>
        <label>Clear Collection Hold On Case</label>
        <locationX>670</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>Loop_over_case_collection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collections_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Hold_on_Cases</name>
        <label>Update Collection Hold on Cases</label>
        <locationX>1255</locationX>
        <locationY>86</locationY>
        <inputReference>colCasestoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <name>colCaseStatusHold</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>colCasestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Collection of liabilities on the case that have a hold required. Will be null if none require a hold</description>
        <name>colLiabilitiesWithHold</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <description>Collection of writs returned from querying for open writs on the case</description>
        <name>colOpenWrits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Writ__c</objectType>
    </variables>
    <variables>
        <description>current case in the collection loop</description>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Bankruptcy status of the account from the case. Passed from PB</description>
        <name>varAccountBankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Referenced by checkbox Collection_Hold_By_Appeal_Deadline__c in Case object</description>
        <name>VarCaseHoldByAppealDeadline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID that is the parent of the liability that triggered the flow. Passed from PB</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID of the liability that triggered the flow</description>
        <name>varLiabilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status value of the liability that triggered the flow passed from PB</description>
        <name>varLiabilityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of status field on liability that triggered the flow passed from PB</description>
        <name>varLiabilityStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorValueBankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
