force-app/main/default/flows/Add_Minors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_More_Minor_Employees_Assignment</name>
        <label>Add More Minor Employees Assignment</label>
        <locationX>328</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>AddMoreMinorsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_More_Minor_Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Create_Minor_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_Work_Minor_False</name>
        <label>Set Add Minors False</label>
        <locationX>743</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>AddMoreMinorsBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>California</name>
        <choiceText>California</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployerStillOperatingNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployerStillOperatingUnknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployerStillOperatingYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Entity_ID</name>
        <label>Check for Entity ID</label>
        <locationX>326</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Check_for_ReportOfLaborCodeViolationId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entity ID Passed</defaultConnectorLabel>
        <rules>
            <name>No_Entity_ID_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EntityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Add_Work_Minor_False</targetReference>
            </connector>
            <label>No Entity ID Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_ReportOfLaborCodeViolationId</name>
        <label>Check for ReportOfLaborCodeViolationId</label>
        <locationX>330</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Minor_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ReportOfLaborCodeViolation Passed</defaultConnectorLabel>
        <rules>
            <name>No_ReportOfLaborCodeViolation_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReportOfLaborLawViolationId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ReportOfLaborLawViolationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Add_Work_Minor_False</targetReference>
            </connector>
            <label>No ReportOfLaborCodeViolation Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Minor_Employee_Decision</name>
        <label>Create Minor Employee Decision</label>
        <locationX>739</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Set_Add_Work_Minor_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name or Age Not Entered</defaultConnectorLabel>
        <rules>
            <name>Name_or_Age_Entered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Full_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_More_Minor_Employees_Assignment</targetReference>
            </connector>
            <label>Name or Age Entered</label>
        </rules>
    </decisions>
    <label>Add Minor Employees</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Create_Minor_Employee</name>
        <label>Record Create Minor Employee</label>
        <locationX>328</locationX>
        <locationY>553</locationY>
        <assignRecordIdToReference>LastCreatedMinorId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>EntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name_First_Last_and_nick_names__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Was_the_Minor_Paid__c</field>
            <value>
                <elementReference>How_was_the_minor_paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Position_Type_of_Work_Performed__c</field>
            <value>
                <elementReference>Job_Position_Type_of_Work_Performed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Normal_Work_Schedule__c</field>
            <value>
                <elementReference>Normal_Work_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_of_Labor_Code_Violation__c</field>
            <value>
                <elementReference>ReportOfLaborLawViolationId</elementReference>
            </value>
        </inputAssignments>
        <object>Minor_Employee__c</object>
    </recordCreates>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>744</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowErrorMessage</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Minor_Employee</name>
        <label>Minor Employee</label>
        <locationX>328</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Minor_Employee_Decision</targetReference>
        </connector>
        <fields>
            <name>AddMinorText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Add Minor Employees&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide the following information for any minors under the age of 18 who work for the employer. Leave blank to skip.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Full_Name</name>
            <dataType>String</dataType>
            <fieldText>Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Job_Position_Type_of_Work_Performed</name>
            <dataType>String</dataType>
            <fieldText>Job Position / Type of Work Performed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Normal_Work_Schedule</name>
            <dataType>String</dataType>
            <fieldText>Normal Work Schedule</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_was_the_minor_paid</name>
            <dataType>String</dataType>
            <fieldText>How was the minor paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_More_Minor_Employees</name>
            <dataType>Boolean</dataType>
            <fieldText>Add More Minor Employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_for_Entity_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>This indiciates if more minors should be added.</description>
        <name>AddMoreMinorsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This Entity ID is passed from another flow in order to write this new address to the correct entity</description>
        <name>EntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastCreatedMinorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PreviouslyAddedMinorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The report of labor law violation.</description>
        <name>ReportOfLaborLawViolationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
