force-app/main/default/flows/Add_Authority_Desigee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ValidatePermissionSetAssignment</name>
        <label>ValidatePermissionSetAssignment</label>
        <locationX>355</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_in_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Permission_Set</targetReference>
            </connector>
            <label>Not in permission set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>353</locationX>
        <locationY>79</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vInternalEmployeeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_PermissionSet</targetReference>
            </connector>
            <label>Valid Data</label>
        </rules>
    </decisions>
    <description>Add Authority Desigee from internal employee record to permission set</description>
    <interviewLabel>Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Authority Desigee</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permission_Set</name>
        <label>Add Permission Set Assignment</label>
        <locationX>662</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>vSetId</assignRecordIdToReference>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>vPermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <description>Get PermissionsetId</description>
        <name>Lookup_PermissionSet</name>
        <label>Lookup PermissionSet</label>
        <locationX>355</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupPermissoinSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLSE_Cashiering_Sr</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>vPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupPermissoinSetAssignment</name>
        <label>LookupPermissoinSetAssignment</label>
        <locationX>353</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidatePermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>vPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Validation</startElementReference>
    <status>Active</status>
    <variables>
        <name>vInternalEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
