force-app/main/default/flows/Assigned_Deputy_Notification_on_account_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Assigned_Deputy_Chatter</name>
        <label>Notify Assigned Deputy Chatter</label>
        <locationX>751</locationX>
        <locationY>415</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_through_open_cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Bankruptcy_changed</targetReference>
        </faultConnector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Deputy</name>
        <label>Notify Deputy</label>
        <locationX>1092</locationX>
        <locationY>565</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_Assigned_Deputy_Chatter</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>DeputyEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>295</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>DeputyEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenCase.Assigned_Deputy_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeputyUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenCase.Assigned_Deputy_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bankruptcy_changed</name>
        <label>Bankruptcy changed</label>
        <locationX>740</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Bankruptcy_changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankruptcyChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_bankruptcy_status_changes</targetReference>
            </connector>
            <label>Bankruptcy changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Is_Not_Null</name>
        <label>Email Is Not Null</label>
        <locationX>788</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Notify_Assigned_Deputy_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Decision_Email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeputyEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Deputy</targetReference>
            </connector>
            <label>Email is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Account_Info</name>
        <label>Verify Account Info</label>
        <locationX>275</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountId_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Changed</targetReference>
            </connector>
            <label>AccountId is not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Accepts the values from the process builder of what has changed on this account</description>
        <name>What_Changed</name>
        <label>What Changed</label>
        <locationX>289</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Cases</targetReference>
            </connector>
            <label>Address</label>
        </rules>
        <rules>
            <name>Bankruptcy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankruptcyChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Cases</targetReference>
            </connector>
            <label>Bankruptcy</label>
        </rules>
    </decisions>
    <description>Notify assigned deputies of open cases. Triggered by Process Builder -- Process Name = Account Updated
Chatter post to notify assigned deputy. Added Banruptcy and Address if changes clauses.</description>
    <interviewLabel>Assigned Deputy Notification on account update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Deputy Notification on account update</label>
    <loops>
        <name>Loop_through_open_cases</name>
        <label>Loop through open cases</label>
        <locationX>295</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>OpenCase</assignNextValueToReference>
        <collectionReference>OpenCasesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Open_Cases</name>
        <label>Find Open Cases</label>
        <locationX>295</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_open_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Deputy_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>OpenCasesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_Deputy__c</queriedFields>
        <queriedFields>Assigned_Deputy_Email__c</queriedFields>
        <queriedFields>Assigned_Deputy_User_ID__c</queriedFields>
    </recordLookups>
    <startElementReference>Verify_Account_Info</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>When_bankruptcy_status_changes</name>
        <label>When bankruptcy status changes</label>
        <locationX>736</locationX>
        <locationY>152</locationY>
        <flowName>Account_Bankruptcy_Status_Changes</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountBankruptcyStatus</name>
            <value>
                <elementReference>BankruptcyStatus</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ChatterPost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The account associated with this case has changed.

@[{!DeputyUserId}]</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account information has changed for {!AccountName}. This could be either address, telephone number, email address or bankruptcy status.

{!AccountLink}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account information has changed for {!AccountName}</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankruptcyChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BLNBankruptcy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeputyUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>OpenCasesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
</Flow>
