force-app/main/default/flows/Case_Office_Changed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Used for testing flow and identifying required values to start the flow</description>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>746</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>varCaseID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfficeID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Office_Set</name>
        <label>Office Set</label>
        <locationX>971</locationX>
        <locationY>646</locationY>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOfficeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Perform_Assignment_Actions</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Drives logic based on the rec type of the case</description>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>751</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>WCA_Garment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>WCA/Garment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_inputs</name>
        <label>Valid inputs</label>
        <locationX>749</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOfficeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Changed transfered from office to be a name/text value rather than a lookup</description>
    <interviewLabel>Case Office Changed Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Office Changed Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the case with the appropriate values</description>
        <name>Update_Case</name>
        <label>Update WCA/GarmentCase</label>
        <locationX>749</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Office_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Deputy_Email__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Deputy__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferred_from_Office__c</field>
            <value>
                <elementReference>varPriorOfficeName</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <startElementReference>Valid_inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Perform_Assignment_Actions</name>
        <label>Perform Assignment Actions</label>
        <locationX>1179</locationX>
        <locationY>644</locationY>
        <flowName>CM_Peform_Assignment_Actions</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRTID</name>
            <value>
                <elementReference>varCaseRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DirOfficeId</name>
            <value>
                <elementReference>varOfficeID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the case that started the flow. passed from pb</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type of the case passed from the process builder</description>
        <name>varCaseRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the office passed from PB</description>
        <name>varOfficeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the prior office passed from parent flow</description>
        <name>varPriorOfficeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
