force-app/main/default/flows/Case_History_ODA_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_a_Meeting_Held_By</name>
        <label>Has a Meeting Held By?</label>
        <locationX>286</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Has_Meeting_Scheduled_For</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meeting__r.Hearing_Officer_Employee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Meeting_Held_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Meeting_Scheduled_For</name>
        <label>Has Meeting Scheduled For?</label>
        <locationX>531</locationX>
        <locationY>722</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meeting__r.Meeting_Scheduled_For__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Meeting_Scheduled_For</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Status</name>
        <label>Special Status</label>
        <locationX>944</locationX>
        <locationY>615</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Ready_for_Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_a_Meeting_Held_By</targetReference>
            </connector>
            <label>Ready for Review</label>
        </rules>
        <rules>
            <name>Returned_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Returned_Incomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Returned_Incompete</targetReference>
            </connector>
            <label>Returned/Incomplete</label>
        </rules>
        <rules>
            <name>Other_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved – Print/Mail/Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete/Mailed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Both_Fields_Changed</targetReference>
            </connector>
            <label>Other Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Status_1</name>
        <label>Special Status</label>
        <locationX>398</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Case_History_Regular_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Ready_for_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_a_Meeting_Held_By</targetReference>
            </connector>
            <label>Status Ready for Review</label>
        </rules>
        <rules>
            <name>Status_Returned_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned/Incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Returned_Incompete</targetReference>
            </connector>
            <label>Status Returned/Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only Status / Only Assignee / Both</description>
        <name>What_Changed</name>
        <label>What Changed?</label>
        <locationX>674</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_Assignee_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_Assignee_Changed</targetReference>
            </connector>
            <label>Only Assignee Changed</label>
        </rules>
        <rules>
            <name>New_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_History_New_Task</targetReference>
            </connector>
            <label>New Task</label>
        </rules>
        <rules>
            <name>Only_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Status_1</targetReference>
            </connector>
            <label>Only Status Changed</label>
        </rules>
        <rules>
            <name>Both_Assignee_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Status</targetReference>
            </connector>
            <label>Both Assignee Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentAssigneeFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} &amp; &quot; &quot; &amp; {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>MeetingHeldByManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Meeting__r.Hearing_Officer_Employee__r.Manager__r.User__r.FirstName} &amp; &quot; &quot; &amp;{!$Record.Meeting__r.Hearing_Officer_Employee__r.Manager__r.User__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>MeetingScheduledForManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Meeting__r.Meeting_Scheduled_For__r.Manager__r.User__r.FirstName} &amp; &quot; &quot; &amp;
{!$Record.Meeting__r.Meeting_Scheduled_For__r.Manager__r.User__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>PriorAssigneeFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Owner:User.FirstName} &amp; &quot; &quot; &amp; {!$Record__Prior.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>TaskCreatorFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedBy.FirstName} &amp;&quot; &quot;&amp; {!$Record.CreatedBy.LastName}</expression>
    </formulas>
    <interviewLabel>Case History - ODA Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case History - ODA Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_History_Assignee_Changed</name>
        <label>Case History Assignee Changed</label>
        <locationX>682</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>CurrentAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Assignee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>CurrentAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>PriorAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_Both_Fields_Changed</name>
        <label>Case History Both Fields Changed</label>
        <locationX>1110</locationX>
        <locationY>465</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>CurrentAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Assignee / Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <stringValue>{!CurrentAssigneeFullName} / {!$Record.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>{!PriorAssigneeFullName} / {!$Record__Prior.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_Meeting_Held_By</name>
        <label>Case History Meeting Held By</label>
        <locationX>91</locationX>
        <locationY>571</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>MeetingHeldByManagerFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Assignee / Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <stringValue>{!MeetingHeldByManagerFullName} / Ready for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>{!PriorAssigneeFullName} / {!$Record__Prior.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_Meeting_Scheduled_For</name>
        <label>Case History Meeting Scheduled For</label>
        <locationX>762</locationX>
        <locationY>718</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>MeetingScheduledForManagerFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Assignee / Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <stringValue>{!MeetingScheduledForManagerFullName} / Ready for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>{!PriorAssigneeFullName} / {!$Record__Prior.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_New_Task</name>
        <label>Case History New Task</label>
        <locationX>1105</locationX>
        <locationY>255</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>CurrentAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>New Task Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <stringValue>{!CurrentAssigneeFullName} / {!$Record.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_Regular_Status_Changed</name>
        <label>Case History Regular Status Changed</label>
        <locationX>768</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>CurrentAssigneeFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_History_Returned_Incompete</name>
        <label>Case History Returned Incompete</label>
        <locationX>662</locationX>
        <locationY>512</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>TaskCreatorFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Assignee / Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <stringValue>{!TaskCreatorFullName} / {!$Record.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>{!PriorAssigneeFullName} / {!$Record__Prior.Status}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>What_Changed</targetReference>
        </connector>
        <filterFormula>AND (
       ISPICKVAL( {!$Record.Type}, &quot;ODA Task&quot; ) ,
       OR ( ISNEW(), ISCHANGED( {!$Record.Status} ), ISCHANGED( {!$Record.OwnerId} ) )
)</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
