force-app/main/default/flows/Create_task_when_Determination_Served_Date_is_updated_with_Prepared_By.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Determine_task_to_create</name>
        <label>Determine task to create</label>
        <locationX>223</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Determination_Type_is_Cause_and_Case_Type_is_not_OSHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Determination_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cause</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Determination_Served_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Determination_Type_is_Cause</targetReference>
            </connector>
            <label>Determination Type is Cause and Case Type is not OSHA</label>
        </rules>
        <rules>
            <name>Determination_Type_is_Cause_and_Case_Type_is_OSHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Determination_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cause</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Determination_Served_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Determination_Type_is_Cause_and_Case_Type_is_OSHA</targetReference>
            </connector>
            <label>Determination Type is Cause and Case Type is OSHA</label>
        </rules>
        <rules>
            <name>Determination_Type_is_No_Cause_and_Case_Type_is_OSHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Determination_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Cause</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Determination_Served_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Determination_Type_is_No_Cause_and_Case_Type_is_OSHA</targetReference>
            </connector>
            <label>Determination Type is No Cause and Case Type is OSHA</label>
        </rules>
        <rules>
            <name>Determin_Type_is_No_Cause_and_Case_Type_is_not_OSHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Determination_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Cause</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Determination_Served_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Determination_Type_is_No_Cause_and_Case_Type_is_not_OSHA</targetReference>
            </connector>
            <label>Determin Type is No Cause and Case Type is not OSHA</label>
        </rules>
    </decisions>
    <description>This flow creates a task based on the Determination Type and Case Type.</description>
    <formulas>
        <name>GetUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create task when Determination Served Date is updated with Prepared By {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create task when Determination Served Date is updated with Prepared By</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_when_Determination_Type_is_Cause</name>
        <label>Create task when Determination Type is Cause</label>
        <locationX>706</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>varNewTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_case_status_to_Awaiting_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varCase.Determination_Served_Date_plus_35_days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.Assigned_Deputy__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012t00000008X4pAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Served Cause Determination on all Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_when_Determination_Type_is_Cause_and_Case_Type_is_OSHA</name>
        <label>Create task when Determination Type is Cause and Case Type is OSHA</label>
        <locationX>706</locationX>
        <locationY>226</locationY>
        <assignRecordIdToReference>varNewTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_case_status_to_Awaiting_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varCase.Determination_Served_Date_plus_35_days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.Assigned_Deputy__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012t00000008X4pAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class &amp; Certified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Served Cause Determination on all Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_when_Determination_Type_is_No_Cause_and_Case_Type_is_not_OSHA</name>
        <label>Create task when Determination Type is No Cause and Case Type is not OSHA.</label>
        <locationX>230</locationX>
        <locationY>601</locationY>
        <assignRecordIdToReference>varNewTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Internal_Employee_record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.Assigned_Deputy__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012t00000008X4pAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Served No Cause Determination on all Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_when_Determination_Type_is_No_Cause_and_Case_Type_is_OSHA</name>
        <label>Create task when Determination Type is No Cause and Case Type is OSHA.</label>
        <locationX>442</locationX>
        <locationY>452</locationY>
        <assignRecordIdToReference>varNewTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_case_status_to_OSHA_Open_Appeal_Period</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varCase.Determination_Served_Date_plus_45_days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.Assigned_Deputy__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012t00000008X4pAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class &amp; Certified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varCase.Determination_Served_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Served No Cause Determination on all Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Internal_Employee_record_0</name>
        <label>Get Internal Employee record</label>
        <locationX>1216</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Prepared_by_field_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputReference>varFoundIE</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_status_to_Awaiting_Compliance</name>
        <label>Update case status to Awaiting Compliance</label>
        <locationX>1051</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>Get_Internal_Employee_record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Compliance</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_status_to_OSHA_Open_Appeal_Period</name>
        <label>Update case status to OSHA Open Appeal Period</label>
        <locationX>1049</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Internal_Employee_record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>OSHA Open Appeal Period</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Prepared_by_field_0</name>
        <label>Update Task Prepared by field</label>
        <locationX>1408</locationX>
        <locationY>593</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prepared_By__c</field>
            <value>
                <elementReference>varFoundIE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Determine_task_to_create</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>varFoundIE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DIR_Employee__c</objectType>
    </variables>
    <variables>
        <name>varNewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
