force-app/main/default/flows/Delete_Paused_Flow_Interviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>To fully delete Process Builders and Flows</description>
    <interviewLabel>Delete Paused Flow Interviews {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Paused Flow Interviews</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Needed to delete flow paused interviews to be able to delete flows and process builders</description>
        <name>Delete_Flow_Interviews</name>
        <label>Delete Flow Interviews</label>
        <locationX>282</locationX>
        <locationY>50</locationY>
        <inputReference>Get_flow_interviews</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_flow_interviews</name>
        <label>Get flow interviews</label>
        <locationX>247</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Flow_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>GreaterThanDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>LessThanDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>InterviewLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interview_API_Label</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowInterview</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_flow_interviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>format : M/d/yyy h:mm a</description>
        <name>GreaterThanDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Interview_API_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>LessThanDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
