force-app/main/default/flows/Duplicate_Business_Account_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Dupe_Account_to_Chatter_FEIN</name>
        <label>Post Dupe Account to Chatter</label>
        <locationX>539</locationX>
        <locationY>970</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_RegAcct_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeFEINfound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Alert_to_Chatter_LEN</name>
        <label>Post Dupe Alert to Chatter</label>
        <locationX>144</locationX>
        <locationY>739</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_RegAcct_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeLENfound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Alert_to_Chatter_SEIN</name>
        <label>Post Dupe Alert to Chatter</label>
        <locationX>336</locationX>
        <locationY>859</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_RegAcct_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeSEINfound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>146</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>var_SEIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>888999000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FEIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>888999000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Legal_Entity_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Larry&apos;s Car Wash</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RegAcct_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3jr00000004Hu9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserProfileType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>variables_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chatter_ID_found_FEIN</name>
        <label>Chatter ID found?</label>
        <locationX>536</locationX>
        <locationY>857</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesChatter_ID_found_FEIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Account_to_Chatter_FEIN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Chatter_ID_found_FEIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Account_to_Chatter_FEIN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chatter_ID_found_LEN</name>
        <label>Chatter ID found?</label>
        <locationX>142</locationX>
        <locationY>629</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Chatter_ID_Found_LEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Alert_to_Chatter_LEN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Chatter_Group_ID_Found_LEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Alert_to_Chatter_LEN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chatter_ID_found_SEIN</name>
        <label>Chatter ID found?</label>
        <locationX>338</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Chatter_ID_found_SEIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Alert_to_Chatter_SEIN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_ChatterID_found_SEIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Alert_to_Chatter_SEIN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dupe_Account_found_LEN</name>
        <label>Dupe Account found?</label>
        <locationX>145</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Dupe_LEN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Dupe_LEN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_Group_ID_LEN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Dupe_LEN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Dupe_LEN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Dupe_Account_SEIN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dupe_FEIN_Account_found</name>
        <label>Dupe FEIN Account found?</label>
        <locationX>539</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Dupe_FEIN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DupeFEINAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_ID_FEIN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Dupe_FEIN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DupeFEINAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dupe_SEIN_Account_found</name>
        <label>Dupe SEIN Account found?</label>
        <locationX>337</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Dupe_SEIN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DupeSEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_Group_ID_SEIN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Dupe_SEIN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DupeSEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Dupe_Account_FEIN</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>variables_found</name>
        <label>variables found?</label>
        <locationX>145</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_LEN_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Legal_Entity_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_FEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_SEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Dupe_Account_LEN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Posts chatter notifications when a Registration Account record matches a business account.</description>
    <interviewLabel>Duplicate Business Account Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Business Account Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Dupe_Account_FEIN</name>
        <label>Find Dupe Account FEIN</label>
        <locationX>540</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dupe_FEIN_Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Federal_Employer_Identification_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FEIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Federal_Employer_Identification_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_DupeFEINAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Dupe_Account_LEN</name>
        <label>Find Dupe Account</label>
        <locationX>143</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dupe_Account_found_LEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Legal_Entity_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_Dupe_LEN</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Dupe_Account_SEIN</name>
        <label>Find Dupe Account SEIN</label>
        <locationX>340</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dupe_SEIN_Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State_Employer_Identification_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SEIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Employer_Identification_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_DupeSEIN</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Group_ID_LEN</name>
        <label>Get Chatter Group ID</label>
        <locationX>143</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_ID_found_LEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_ChatterGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Group_ID_SEIN</name>
        <label>Get Chatter Group ID</label>
        <locationX>339</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_ID_found_SEIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_ChatterGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_ID_FEIN</name>
        <label>Get Chatter ID</label>
        <locationX>537</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_ID_found_FEIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_ChatterGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>variables_found</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DupeFEINfound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This Registration Account&apos;s FEIN matches the FEIN on a business account. https://cadir--lnrdev.cs32.my.salesforce.com/{!var_DupeFEINAccount}</text>
    </textTemplates>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DupeLENfound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This Registration Account matches an existing business account&apos;s name. https://cadir--lnrdev.cs32.my.salesforce.com/{!var_Dupe_LEN}</text>
    </textTemplates>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DupeSEINfound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This Registration Account&apos;s SEIN matches the SEIN on an existing Account. https://cadir--lnrdev.cs32.my.salesforce.com/{!var_DupeSEIN}</text>
    </textTemplates>
    <variables>
        <name>var_ChatterGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Dupe_LEN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupeFEINAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupeSEIN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_FEIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Legal_Entity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RegAcct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SEIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
