force-app/main/default/flows/Duplicate_Person_Account_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_duplicate_chatter_alert_no_group</name>
        <label>Post duplicate chatter alert - no group</label>
        <locationX>669</locationX>
        <locationY>470</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This is a potential duplicate person account - no chatter group found.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Duplicate_to_Chatter</name>
        <label>Post Duplicate to Chatter</label>
        <locationX>452</locationX>
        <locationY>351</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DuplicateAcctChatterText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>260</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>var_AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001r0000007m2xJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account_Email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Doe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProfileName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(555) 666-7777</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_variables_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chatter_ID_Found</name>
        <label>Chatter ID Found?</label>
        <locationX>449</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Post_duplicate_chatter_alert_no_group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_chatter_id_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatterGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Duplicate_to_Chatter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_Variable_Records_Found</name>
        <label>Collection Variable Records Found?</label>
        <locationX>267</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_collection_var_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COLAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_Group_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_variables_found</name>
        <label>Input variables found?</label>
        <locationX>260</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_input_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registrations Community Site Guest User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Dulicate_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates Task and Chatter post when duplicate person accounts from when a new community user has self-registered has been deceted.</description>
    <interviewLabel>Duplicate Person Account Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Person Account Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Dulicate_Account</name>
        <label>Find Dulicate Account</label>
        <locationX>263</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Variable_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Email</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>COLAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Group_ID</name>
        <label>Get Chatter Group ID</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_ID_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>ChatterGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Input_variables_found</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DuplicateAcctChatterText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!ChatterGroupId}] This is a potential duplicate person account.</text>
    </textTemplates>
    <variables>
        <name>Account_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChatterGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All Accounts matching lookup - Last Name + Email + Person Account</description>
        <name>COLAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Account_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account ID of record that triggers flow.</description>
        <name>var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Profile name of running user</description>
        <name>var_ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
