force-app/main/default/flows/Duplicate_Owner_Person_Account_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>dupe_email_found_debug</name>
        <label>dupe email found debug</label>
        <locationX>227</locationX>
        <locationY>486</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Chatter_Group_ID_Email_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Duplicate email adress found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>dupe_email_found_debug_0</name>
        <label>dupe email found debug</label>
        <locationX>1057</locationX>
        <locationY>1060</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_ID_found_Email_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Duplicate address found</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Account_address</name>
        <label>Post Dupe Account address</label>
        <locationX>1695</locationX>
        <locationY>899</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Iterate_over_dupe_address_collection</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeAddressFound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Account_Email_no_group_0</name>
        <label>Post Dupe Account Email - no group</label>
        <locationX>197</locationX>
        <locationY>616</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Iterate_over_dupe_email_collection</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeEmailFound_nogroup</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Account_Email_no_group_0_1</name>
        <label>Post Dupe Account Email - no group</label>
        <locationX>1689</locationX>
        <locationY>1218</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Iterate_over_dupe_address_collection</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeAddressFound_nogroup</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Dupe_Account_Email_to_Chatter_0</name>
        <label>Post Dupe Account Email to Chatter</label>
        <locationX>195</locationX>
        <locationY>920</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Iterate_over_dupe_email_collection</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_OwnershipID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DupeEmailFound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>input_variables</name>
        <label>input variables</label>
        <locationX>131</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>var_Email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OwnershipID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Passed</name>
        <label>Address Passed</label>
        <locationX>731</locationX>
        <locationY>896</locationY>
        <defaultConnectorLabel>Address not passed</defaultConnectorLabel>
        <rules>
            <name>Address_Passed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ResCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Dupe_Address_0</targetReference>
            </connector>
            <label>Address Passed True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chatter_ID_found_Email_0</name>
        <label>Chatter ID found?</label>
        <locationX>194</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Post_Dupe_Account_Email_no_group_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Chatter_ID_found_phone_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Account_Email_to_Chatter_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chatter_ID_found_Email_0_0</name>
        <label>Chatter ID found?</label>
        <locationX>1258</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Get_Chatter_Group_ID_Email_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Chatter_ID_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_dupe_address_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chatter_ID_found_Email_0_0_1</name>
        <label>Chatter ID found?</label>
        <locationX>1688</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>Post_Dupe_Account_Email_no_group_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Chatter_ID_found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatterGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Dupe_Account_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dupe_Address_Found1</name>
        <label>Dupe Address Found</label>
        <locationX>1254</locationX>
        <locationY>896</locationY>
        <defaultConnectorLabel>Address Not Found</defaultConnectorLabel>
        <rules>
            <name>Address_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COLAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dupe_email_found_debug_0</targetReference>
            </connector>
            <label>Address Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Email_found_0</name>
        <label>Duplicate Email found?</label>
        <locationX>421</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Address_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DupeAcctEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dupe_email_found_debug</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Populated</name>
        <label>Email Populated</label>
        <locationX>419</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Address_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email No</defaultConnectorLabel>
        <rules>
            <name>Email_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Email_0</targetReference>
            </connector>
            <label>Email yes</label>
        </rules>
    </decisions>
    <description>Removed person account from email criteria</description>
    <interviewLabel>Duplicate Owner-Person Account Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Owner-Person Account Alert</label>
    <loops>
        <name>Iterate_over_dupe_address_collection</name>
        <label>Iterate over dupe address</label>
        <locationX>1461</locationX>
        <locationY>1058</locationY>
        <assignNextValueToReference>var_DupeAddress</assignNextValueToReference>
        <collectionReference>COLAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chatter_ID_found_Email_0_0_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_over_dupe_email_collection</name>
        <label>Iterate over dupe email collection</label>
        <locationX>426</locationX>
        <locationY>751</locationY>
        <assignNextValueToReference>var_DupeEmail</assignNextValueToReference>
        <collectionReference>var_DupeAcctEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chatter_ID_found_Email_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Address_Passed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Dupe_Address_0</name>
        <label>Find Dupe Address</label>
        <locationX>1037</locationX>
        <locationY>896</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dupe_Address_Found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ResCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ResAddress</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>COLAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Link__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Duplicate_Email_0</name>
        <label>Find Duplicate Email</label>
        <locationX>419</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Email_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Email</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_DupeAcctEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Link__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Group_ID_Email_0</name>
        <label>Get Chatter Group ID</label>
        <locationX>424</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_dupe_email_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_ChatterGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Group_ID_Email_0_0</name>
        <label>Get Chatter Group ID</label>
        <locationX>1261</locationX>
        <locationY>1219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_dupe_address_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate Account Alerts</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_ChatterGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Email_Populated</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DupeAddressFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This business owner&apos;s address matches a person account. {!var_DupeAddress.Link__c}</text>
    </textTemplates>
    <textTemplates>
        <name>DupeAddressFound_nogroup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This business owner&apos;s address matches a person account. {!var_DupeAddress.Link__c}</text>
    </textTemplates>
    <textTemplates>
        <description>@Duplicate Account Alerts group</description>
        <name>DupeEmailFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This business owner&apos;s email address {!var_Email} matches the email on a person account. {!var_DupeEmail.Link__c}</text>
    </textTemplates>
    <textTemplates>
        <name>DupeEmailFound_nogroup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This business owner&apos;s email address {!var_Email} matches the email on a person account. {!var_DupeEmail.Link__c}</text>
    </textTemplates>
    <textTemplates>
        <name>DupePhoneFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!var_ChatterGroupID}] This business owner&apos;s phone number {!var_Phone} matches this person account. https://cadir--lnrdev.cs32.my.salesforce.com/{!var_DupePhone}</text>
    </textTemplates>
    <variables>
        <description>All Accounts matching lookup</description>
        <name>COLAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_ChatterGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_COLAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupeAcctEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupeAcctPhone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupeAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Account found with email matching new ownership record.</description>
        <name>var_DupeEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_DupePhone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OwnershipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Residential Address Line 1</description>
        <name>var_ResAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SSN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSameAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
