force-app/main/default/flows/Fee_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_to_fees_to_update</name>
        <label>add to fees to update</label>
        <locationX>912</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>colFeesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_fees_to_update_0</name>
        <label>add to fees to update</label>
        <locationX>1497</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>colFeesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_fees_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>326</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>varTotalFees</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFeeSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3nr00000003os9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_amount_paid</name>
        <label>Set amount paid</label>
        <locationX>1042</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>objFee.Amount_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objFee.Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_fees_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_amount_paid_0</name>
        <label>Set amount paid</label>
        <locationX>1489</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>objFee.Amount_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objFee.Amount_Paid_Manually__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_fees_to_update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_amount_paid_1</name>
        <label>Set amount paid</label>
        <locationX>803</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>objFee.Amount_Paid_Manually__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objFee.Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_fees_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the amount paid online changed, then it has been refunded and the fees need to be set to not paid</description>
        <name>Amount_Paid_online_changed</name>
        <label>Amount Paid online changed</label>
        <locationX>550</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAmtPaidOnlineChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fees_0</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Application_Type</name>
        <label>Application Type</label>
        <locationX>906</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_amount_paid_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Paper</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_amount_paid</targetReference>
            </connector>
            <label>Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Balance</name>
        <label>Balance</label>
        <locationX>325</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Get_Fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Balance Due</defaultConnectorLabel>
        <rules>
            <name>Balance_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Paid_online_changed</targetReference>
            </connector>
            <label>Balance Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fees_Found</name>
        <label>Fees Found</label>
        <locationX>534</locationX>
        <locationY>489</locationY>
        <defaultConnectorLabel>No fees located</defaultConnectorLabel>
        <rules>
            <name>Fees_Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_over_fees</targetReference>
            </connector>
            <label>Fees Located</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fees_Found_0</name>
        <label>Fees Found</label>
        <locationX>1015</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>No fees located</defaultConnectorLabel>
        <rules>
            <name>Fees_Located_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_over_fees_0</targetReference>
            </connector>
            <label>Fees Located</label>
        </rules>
    </decisions>
    <decisions>
        <name>fees_need_updating</name>
        <label>fees need updating?</label>
        <locationX>303</locationX>
        <locationY>663</locationY>
        <defaultConnectorLabel>No update needed</defaultConnectorLabel>
        <rules>
            <name>Update_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFeesToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fees</targetReference>
            </connector>
            <label>Update needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>fees_need_updating_0</name>
        <label>fees need updating?</label>
        <locationX>1249</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>No update needed</defaultConnectorLabel>
        <rules>
            <name>Update_needed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFeesToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fees_0</targetReference>
            </connector>
            <label>Update needed</label>
        </rules>
    </decisions>
    <description>Handles actions necessary for fee summaries
- removed clearing amounts paid</description>
    <interviewLabel>Fee Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fee Summary Flow</label>
    <loops>
        <name>iterate_over_fees</name>
        <label>iterate over fees</label>
        <locationX>534</locationX>
        <locationY>666</locationY>
        <assignNextValueToReference>objFee</assignNextValueToReference>
        <collectionReference>colFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Application_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fees_need_updating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_over_fees_0</name>
        <label>iterate over fees</label>
        <locationX>1250</locationX>
        <locationY>306</locationY>
        <assignNextValueToReference>objFee</assignNextValueToReference>
        <collectionReference>colFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_amount_paid_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fees_need_updating_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fees</name>
        <label>Get Fees</label>
        <locationX>323</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fees_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fee_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeeSummaryId</elementReference>
            </value>
        </filters>
        <object>Fee__c</object>
        <outputReference>colFees</outputReference>
        <queriedFields>Amount_Paid__c</queriedFields>
        <queriedFields>Fee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fees_0</name>
        <label>Get Fees</label>
        <locationX>781</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fees_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fee_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeeSummaryId</elementReference>
            </value>
        </filters>
        <object>Fee__c</object>
        <outputReference>colFees</outputReference>
        <queriedFields>Amount_Paid__c</queriedFields>
        <queriedFields>Fee__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fees</name>
        <label>Update Fees</label>
        <locationX>66</locationX>
        <locationY>664</locationY>
        <inputReference>colFeesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fees_0</name>
        <label>Update Fees</label>
        <locationX>1253</locationX>
        <locationY>680</locationY>
        <inputReference>colFeesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Balance</startElementReference>
    <status>Active</status>
    <variables>
        <description>collection of fees on this fee summary</description>
        <name>colFees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <description>fees with updated amounts ready to update</description>
        <name>colFeesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <description>fees tha need amounts paid to be zero&apos;d out because the amounts paid are being replaced on new fees</description>
        <name>colFeestoZero</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <description>fee record within the loop</description>
        <name>objFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <description>boolean passed from the process builder</description>
        <name>varAmtPaidOnlineChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>registration application type passed from pb</description>
        <name>varApplicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFeeSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID the fee is a child of. Passed from PB</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>total fees due on fee summary</description>
        <name>varTotalFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
