force-app/main/default/flows/HR_Form_1_Status_Latest_Status_Individual_Status_PART_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Fields_to_Variable_HRP2_Approved</name>
        <label>Assign Fields to Variable HRP2 Approved</label>
        <locationX>532</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>VarHPP2_Approval_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHRP2Approved.Part_2_Approval_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarHRP2Approved_Initial_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHRP2Approved.Date_of_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPanelMemberListHRP2approved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopHRP2Approved.List_of_Panel_Members__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHRP2Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Temporarily store queried fields to flow variable</description>
        <name>Assign_Fields_to_Variable_RtoPP1</name>
        <label>Assign Fields to Variable RtoPP1</label>
        <locationX>680</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>VarRtoPP1_Reasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP1.Part_1_Program_Return_Reason_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRtoPP1_Initial_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP1.Date_of_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRtoPP1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Variable_RtoPP2</name>
        <label>Assign Fields to Variable RtoPP2</label>
        <locationX>2266</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>VarRtoPP2_Reasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP2.Part_2_Program_Return_Reason_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRtoPP2_Intial_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP2.Date_of_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRtoPP2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Variable_RtoPP3</name>
        <label>Assign Fields to Variable RtoPP3</label>
        <locationX>2047</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>VarRtoPP3_Reasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP3.Part_3_Program_Return_Reason_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRtoPP3_Intial_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRtoPP3.Date_of_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRtoPP3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Record_Found_P2_Approved</name>
        <label>Any Record Found P2 Approved</label>
        <locationX>277</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>LoopHRP2Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found_P2_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_HRP2Approved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_HRP2Approved_NULL</targetReference>
            </connector>
            <label>No Record Found P2 Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found_RtoPP1</name>
        <label>Any Record Found RtoPP1</label>
        <locationX>394</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_RtoPP1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_RtoPP1_NULL</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found_RtoPP2</name>
        <label>Any Record Found RtoPP2</label>
        <locationX>1885</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found_RtoPP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_RtoPP2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_RtoPP2_NULL</targetReference>
            </connector>
            <label>No Record Found RtoPP2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Record_Found_RtoPP3</name>
        <label>Any Record Found RtoPP3</label>
        <locationX>1634</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found_RtoPP3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_RtoPP3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_RtoPP3_NULL</targetReference>
            </connector>
            <label>No Record Found RtoPP3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Max_Date_RtoPP1</name>
        <label>Compare Max Date RtoPP1</label>
        <locationX>370</locationX>
        <locationY>1437</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compare_VarToCompareRtoPP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRtoPP1.Date_of_Status__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarRtoPP1_Initial_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRtoPP1.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Variable_RtoPP1</targetReference>
            </connector>
            <label>Compare VarToCompareRtoPP1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Max_Date_RtoPP2</name>
        <label>Compare Max Date RtoPP2</label>
        <locationX>2254</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_or_Greater_than_VarToCompareRtoPP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRtoPP2.Date_of_Status__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarRtoPP2_Intial_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRtoPP2.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Variable_RtoPP2</targetReference>
            </connector>
            <label>Equal or Greater than VarToCompareRtoPP2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Max_Date_RtoPP3</name>
        <label>Compare Max Date RtoPP3</label>
        <locationX>2260</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>LoopRtoPP3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_or_Greater_than_VarToCompareRtoPP3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRtoPP3.Date_of_Status__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarRtoPP3_Intial_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRtoPP3.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Variable_RtoPP3</targetReference>
            </connector>
            <label>Equal or Greater than VarToCompareRtoPP3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_VarToCompareHRP2Approved</name>
        <label>Compare VarToCompareHRP2Approved</label>
        <locationX>282</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>LoopHRP2Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_or_Greater_than_VarHRP2Approved_Initial_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopHRP2Approved.Date_of_Status__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarHRP2Approved_Initial_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopHRP2Approved.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Variable_HRP2_Approved</targetReference>
            </connector>
            <label>Equal or Greater than VarHRP2Approved_Initial_Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Type</name>
        <label>Status Type</label>
        <locationX>884</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_to_Program_Part_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form1_Status_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part 1 Return to Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_RtoPP1</targetReference>
            </connector>
            <label>Return to Program Part 1</label>
        </rules>
        <rules>
            <name>Return_to_Program_Part_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form1_Status_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part 2 Return to Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_RtoPP2</targetReference>
            </connector>
            <label>Return to Program Part 2</label>
        </rules>
        <rules>
            <name>Return_to_Program_Part_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form1_Status_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part 3 Return to Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_RtoPP3</targetReference>
            </connector>
            <label>Return to Program Part 3</label>
        </rules>
        <rules>
            <name>HR_Part_2_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form1_Status_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR – Part 2 Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_HRP2Approved</targetReference>
            </connector>
            <label>HR – Part 2 Approved</label>
        </rules>
    </decisions>
    <description>Finding latest individual status and populate corresponding fields in Form 1 to shown on report. For HR report enhancement project: Re2P-part123, Part1/2 Approval dates</description>
    <interviewLabel>Finding latest individual status and populate corresponding fields in Form 1 to shown on report. For HR report enhancement project: Re2P-part123, Part1/2 Approval dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Form 1 Status - Latest Status - Individual Status PART 1</label>
    <loops>
        <name>LoopHRP2Approved</name>
        <label>LoopHRP2Approved</label>
        <locationX>277</locationX>
        <locationY>418</locationY>
        <collectionReference>Collection_HRP2Approved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_VarToCompareHRP2Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_1_HRP2_Appproved_Approval_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRtoPP1</name>
        <label>LoopRtoPP1</label>
        <locationX>387</locationX>
        <locationY>1145</locationY>
        <collectionReference>Collection_RtoPP1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Max_Date_RtoPP1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_1_RtoPP1_Reasons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRtoPP2</name>
        <label>LoopRtoPP2</label>
        <locationX>1885</locationX>
        <locationY>317</locationY>
        <collectionReference>Collection_RtoPP2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Max_Date_RtoPP2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_1_RtoPP2_Reasons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRtoPP3</name>
        <label>LoopRtoPP3</label>
        <locationX>1646</locationX>
        <locationY>895</locationY>
        <collectionReference>Collection_RtoPP3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Max_Date_RtoPP3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_1_RtoPP3_Reasons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Collection_HRP2Approved</name>
        <label>Collection_HRP2Approved</label>
        <locationX>508</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found_P2_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR – Part 2 Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Collect all PtoPP1 record from current Form1</description>
        <name>Collection_RtoPP1</name>
        <label>Collection_RtoPP1</label>
        <locationX>669</locationX>
        <locationY>777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found_RtoPP1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part 1 Return to Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Collection_RtoPP2</name>
        <label>Collection_RtoPP2</label>
        <locationX>1616</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found_RtoPP2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part 2 Return to Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Collection_RtoPP3</name>
        <label>Collection_RtoPP3</label>
        <locationX>1409</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found_RtoPP3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part 3 Return to Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Form_1_HRP2_Appproved_Approval_Date</name>
        <label>Update Form 1 HRP2 Appproved Approval Date</label>
        <locationX>50</locationX>
        <locationY>424</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>List_of_Panel_Members__c</field>
            <value>
                <elementReference>VarPanelMemberListHRP2approved</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_HRP2Approved_NULL</name>
        <label>Update Form 1 HRP2Approved NULL</label>
        <locationX>57</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_PART_2_Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Panel_Members__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>No record found, update reasons to NULL</description>
        <name>Update_Form_1_RtoPP1_NULL</name>
        <label>Update Form 1 RtoPP1 NULL</label>
        <locationX>249</locationX>
        <locationY>883</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Part_1_Return_to_Program_Reasons__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_RtoPP1_Reasons</name>
        <label>Update Form 1 RtoPP1 Reasons</label>
        <locationX>99</locationX>
        <locationY>1138</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Part_1_Return_to_Program_Reasons__c</field>
            <value>
                <elementReference>VarRtoPP1_Reasons</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_RtoPP2_NULL</name>
        <label>Update Form 1 RtoPP2 NULL</label>
        <locationX>2199</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Part_2_Return_to_Program_Reasons__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_RtoPP2_Reasons</name>
        <label>Update Form 1 RtoPP2 Reasons</label>
        <locationX>1620</locationX>
        <locationY>322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Part_2_Return_to_Program_Reasons__c</field>
            <value>
                <elementReference>VarRtoPP2_Reasons</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_RtoPP3_NULL</name>
        <label>Update Form 1 RtoPP3 NULL</label>
        <locationX>1929</locationX>
        <locationY>656</locationY>
        <inputAssignments>
            <field>Part_3_Program_Return_Reason_s__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_RtoPP3_Reasons</name>
        <label>Update Form 1 RtoPP3 Reasons</label>
        <locationX>1420</locationX>
        <locationY>889</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HR_Part_3_Return_to_Program_Reasons__c</field>
            <value>
                <elementReference>VarRtoPP3_Reasons</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <start>
        <locationX>774</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Status_Type</targetReference>
        </connector>
        <object>Form_1_Status__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarHPP2_Approval_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarHRP1_Approval_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarHRP1Approved_Initial_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarHRP2Approved_Initial_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarPanelMemberListHRP2approved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP1_Initial_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarRtoPP1_Reasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP1_Reasons_Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP2_Intial_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarRtoPP2_Reasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP2_Reasons_Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP3_Intial_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarRtoPP3_Reasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRtoPP3_Reasons_Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
