force-app/main/default/flows/HR_Form_1_Status_Latest_Status_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_General_Status</name>
        <label>Assign General Status</label>
        <locationX>901</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>VarStatusType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_General_Status.Form1_Status_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInitialDate_General_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_General_Status.Date_of_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_General_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if there&apos;s no record found, then clear out existing Status and Reasons for &apos;Hold Status&apos;</description>
        <name>Any_Record_Found</name>
        <label>Any Record Found?</label>
        <locationX>381</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Loop_General_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_General_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_General_Status_to_NULL</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Use 1/1/1900 as initial date to compare</description>
        <name>Compare_Date_to_Find_Max</name>
        <label>Compare Date to Find Max</label>
        <locationX>964</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Loop_General_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than VarInitialDate</defaultConnectorLabel>
        <rules>
            <name>Greater_Equal_to_VarInitialDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_General_Status.Date_of_Status__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarInitialDate_General_Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_General_Status.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_General_Status</targetReference>
            </connector>
            <label>Greater Equal to VarInitialDate</label>
        </rules>
    </decisions>
    <decisions>
        <description>this field is for Action/Status Event (Heather&apos;s report Apendix)</description>
        <name>Minimum_Qualification_Withhold_Status</name>
        <label>Minimum Qualification Withhold Status?</label>
        <locationX>717</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Clear_Final_Response_Due_Date_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form1_Status_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Qualification Withhold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_Response_Due_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Find latest status and update Form 1 General status</description>
    <interviewLabel>HR Form 1 Status - Latest Status - General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Form 1 Status - Latest Status - General</label>
    <loops>
        <name>Loop_General_Status</name>
        <label>Loop General Status</label>
        <locationX>483</locationX>
        <locationY>578</locationY>
        <collectionReference>Collection_General_Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Date_to_Find_Max</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_1_With_Hold_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>any status</description>
        <name>Collection_General_Status</name>
        <label>Collection_General_Status</label>
        <locationX>351</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>See hr enhancement project - Heather&apos;s report</description>
        <name>Clear_Final_Response_Due_Date_Field</name>
        <label>Clear  Final Response Due Date Field</label>
        <locationX>887</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Response_Due_Date_for_report__c</field>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>See Action/Status event (Heather&apos;s report)</description>
        <name>Update_Final_Response_Due_Date</name>
        <label>Update Final Response Due Date</label>
        <locationX>565</locationX>
        <locationY>1071</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Response_Due_Date_for_report__c</field>
            <value>
                <elementReference>$Record.Final_Response_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>No record found</description>
        <name>Update_Form_1_General_Status_to_NULL</name>
        <label>Update Form 1 General Status to NULL</label>
        <locationX>211</locationX>
        <locationY>673</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>General_Recruitment_Status_2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_With_Hold_Information</name>
        <label>Update Form 1 With Hold Information</label>
        <locationX>605</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Minimum_Qualification_Withhold_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>General_Recruitment_Status_2__c</field>
            <value>
                <elementReference>VarStatusType</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Collection_General_Status</targetReference>
        </connector>
        <object>Form_1_Status__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>use this variable to update Form 1&apos;s General status</description>
        <name>VarGeneralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>1/1/1900</description>
        <name>VarInitialDate_General_Status</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>VarOnHold_Reasons_Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStatusType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
