force-app/main/default/flows/HR_New_Recursive_MTT_and_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Training_Reminder_Basic_Supervision</name>
        <label>Send Training Reminder Basic Supervision</label>
        <locationX>670</locationX>
        <locationY>461</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Basic_Supervision</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Training_Reminder_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Basic_Supervision</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Training_Reminder_CEA_Leadership</name>
        <label>Send Training Reminder CEA Leadership</label>
        <locationX>514</locationX>
        <locationY>426</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_CEA_Leadership</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Training_Reminder_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_CEA_Leadership</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Training_Reminder_Hiring_Series</name>
        <label>Send Training Reminder Hiring Series</label>
        <locationX>325</locationX>
        <locationY>201</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Hiring_Series</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Training_Reminder_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Hiring_Series</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Training_Reminder_Manager_Leadership</name>
        <label>Send Training Reminder Manager Leadership</label>
        <locationX>1080</locationX>
        <locationY>293</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Manager_Leadership</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Training_Reminder_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Reminder_Manager_Leadership</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Appointment_Holding_Status</name>
        <label>Appointment Holding Status</label>
        <locationX>576</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Appointment_is_NOT_Expired_Send_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAppointmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAppointmentEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarSendReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTrainingCompletionDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Training_Reminder</targetReference>
            </connector>
            <label>Appointment is NOT Expired Send Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <description>Type of training remider</description>
        <name>Type_of_Training_Reminder</name>
        <label>Type of Training</label>
        <locationX>716</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Supervisor_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMTTrecordtypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic Supervision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder_Basic_Supervision</targetReference>
            </connector>
            <label>Basic Supervisor</label>
        </rules>
        <rules>
            <name>Hiring_Training_Series_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMTTrecordtypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Training Series</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder_Hiring_Series</targetReference>
            </connector>
            <label>Hiring Training Series</label>
        </rules>
        <rules>
            <name>Manager_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMTTrecordtypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Leadership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder_Manager_Leadership</targetReference>
            </connector>
            <label>Manager Leadership</label>
        </rules>
        <rules>
            <name>CEA_Leadership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMTTrecordtypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEA Leadership Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder_CEA_Leadership</targetReference>
            </connector>
            <label>CEA Leadership</label>
        </rules>
    </decisions>
    <description>Send out reminders based on training types then create training reminder record.</description>
    <interviewLabel>HR New Recursive MTT and Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Training Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Reminder_Record</name>
        <label>Create Training Reminder Record</label>
        <locationX>1232</locationX>
        <locationY>489</locationY>
        <inputAssignments>
            <field>HR_Mandatory_Training_Tracking__c</field>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputAssignments>
        <object>HR_Mandatory_Training_Reminder__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Appointment_Holding_Status</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>if Appointment End Date is filled, Appointment is expired, no training record is to be created</description>
        <name>VarAppointmentEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The current MTT ID, not the to be created MTT ID (recursive record)</description>
        <name>VarCurrentMTT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Training Tracking record typ ID</description>
        <name>VarMTTrecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMTTrecordtypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRecursiveMTT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarSendReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Checking if training is completed, if so stop sending reminder</description>
        <name>VarTrainingCompletionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTrainingDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
