force-app/main/default/flows/HR_SEC1_Position_Form1_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>set SEC1PosF1 to TRUE</description>
        <name>Check_SEC1PosF1</name>
        <label>Check SEC1PosF1</label>
        <locationX>644</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>$Record.SEC1PosF1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>SEC1_Position_Number_Duplicate</name>
        <label>SEC1 Position Number Duplicate</label>
        <locationX>161</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Form_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SEC1PosF1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>The flow check if the position in SEC1 has already linked to an active F1, to prevent duplicate F1 creation</description>
    <environments>Default</environments>
    <interviewLabel>HR SEC1 Position Form1 Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR SEC1 Position Form1 Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all form 1 records</description>
        <name>All_Form_1</name>
        <label>All Form 1</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEC1_Position_Number_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEC1_Position_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SEC1_Position_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>651</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>All_Form_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEC1_Position__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SEC1_Position_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Form_1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
