force-app/main/default/flows/HR_Update_Form_1_Effective_Date_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Greater_Date_of_Status</name>
        <label>Assign Greater Date of Status</label>
        <locationX>657</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>DefaultF1EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Effective_Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Complete_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Complete_Count</name>
        <label>Increase Complete Count</label>
        <locationX>507</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>CompleteCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_Default_Date_Variable</name>
        <label>Compare Default Date Variable</label>
        <locationX>812</locationX>
        <locationY>534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Comparison_with_Default_Date_Variable_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Effective_Appointment_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DefaultF1EffectiveDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Greater_Date_of_Status</targetReference>
            </connector>
            <label>Yes - Comparison with Default Date Variable Greater</label>
        </rules>
        <rules>
            <name>No_Comparison_not_greater_than_Default_Date_variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Effective_Appointment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultF1EffectiveDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Complete_Count</targetReference>
            </connector>
            <label>No - Comparison not greater than Default Date variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_or_Invalid_unchecked</name>
        <label>Error or Invalid unchecked</label>
        <locationX>842</locationX>
        <locationY>941</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Error_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Default_Date_Variable</targetReference>
            </connector>
            <label>Yes - Error unchecked</label>
        </rules>
        <rules>
            <name>No_Record_Invalid_box_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Error_or_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>No - Record Invalid box is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complete_Count_Variable_greater_than_0</name>
        <label>Is Complete Count Variable greater than 0</label>
        <locationX>2020</locationX>
        <locationY>988</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete_Count_variable_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Completed_on_F1</targetReference>
            </connector>
            <label>Yes - Complete Count variable greater</label>
        </rules>
        <rules>
            <name>No_Complete_Count_variable_less_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_1_with_blank</targetReference>
            </connector>
            <label>No - Complete Count variable less than = 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>HR Update Form 1 Effective Date Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Update Form 1 Effective Date Complete</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1307</locationX>
        <locationY>640</locationY>
        <collectionReference>Get_Form_1_Status_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_or_Invalid_unchecked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Complete_Count_Variable_greater_than_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Form_1_Status_records</name>
        <label>Get Form 1 Status records</label>
        <locationX>1076</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate Accepts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Form_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form_1_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Date_Completed_on_F1</name>
        <label>Update Date Completed on F1</label>
        <locationX>1348</locationX>
        <locationY>1099</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date_Completed__c</field>
            <value>
                <elementReference>DefaultF1EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1_with_blank</name>
        <label>Update Form 1 with blank</label>
        <locationX>1576</locationX>
        <locationY>872</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_1__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Effective_Date_Completed__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <object>Form_1__c</object>
    </recordUpdates>
    <start>
        <locationX>1092</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Get_Form_1_Status_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Form1_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate Accepts</stringValue>
            </value>
        </filters>
        <object>Form_1_Status__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DefaultF1EffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>F1StatusInvalid</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1_Status__c</objectType>
    </variables>
</Flow>
