force-app/main/default/flows/Meeting_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Dep_Not_Set</name>
        <label>Chatter Dep Not Set</label>
        <locationX>1535</locationX>
        <locationY>458</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Deputy Values not set</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Meeting_Approved</name>
        <label>Chatter Meeting Approved</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Meeting Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Flag_Deputy_details_to_update</name>
        <label>Flag Deputy details to update</label>
        <locationX>1139</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>boolDeputyUpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the boolean flag indicating that the meeting date needs to be updated</description>
        <name>Set_Update_Meeting_Date</name>
        <label>Set Update Meeting Date</label>
        <locationX>710</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varUpdateMeetingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dep_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>validates that the deputy values have been sent from the process before updating the meeting.</description>
        <name>Deputy_Values_sent</name>
        <label>Deputy Values sent</label>
        <locationX>1337</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Chatter_Dep_Not_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Deputy_Values_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSeniorDepUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeputyID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSeniorDepUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Deputy_details_to_update</targetReference>
            </connector>
            <label>Deputy Values Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if this is the first time the meeting is scheduled</description>
        <name>First_time_scheduled</name>
        <label>First time scheduled</label>
        <locationX>974</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Update_Dep_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subsequent or n/a</defaultConnectorLabel>
        <rules>
            <name>First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOriginalMeetingDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_Meeting_Date</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Rec_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolISnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Values_sent</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_0</name>
        <label>IsNew</label>
        <locationX>1106</locationX>
        <locationY>2066</locationY>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolISnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Meeting_Scheduled_Rescheduled</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends flow logic in the correct direction for the record Type</description>
        <name>Rec_Type</name>
        <label>Rec Type</label>
        <locationX>1568</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Garment_BOFE_RCI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Revocation_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value</targetReference>
            </connector>
            <label>WCA/Garment/BOFE/RCI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the status changed before triggering events that require a status change to fire.</description>
        <name>Status_Changed</name>
        <label>Status or Time Changed</label>
        <locationX>974</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>IsNew_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStatusChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStartTimeChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Meeting_Scheduled_Rescheduled</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status and directs the flow logic appropriately</description>
        <name>Status_Value</name>
        <label>Status Value</label>
        <locationX>974</locationX>
        <locationY>1250</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Continuance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continuance Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continunace Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Continuance_Flow</targetReference>
            </connector>
            <label>Continuance</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dismissed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Events_from_Cancelled_Meetings</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Scheduled_Resecheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_time_scheduled</targetReference>
            </connector>
            <label>Scheduled/Resecheduled/Continued</label>
        </rules>
        <rules>
            <name>Meeting_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Meeting_Approved</targetReference>
            </connector>
            <label>Meeting Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status and directs the flow logic appropriately</description>
        <name>Status_Value_0</name>
        <label>Status Value</label>
        <locationX>1139</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_deputy_on_Non_New_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>NewStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date_2</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Dep_Details</name>
        <label>Update Dep Details?</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Meeting_Date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Deputy_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolDeputyUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date</targetReference>
            </connector>
            <label>Update Deputy Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Dep_Details_0</name>
        <label>Update Dep Details?</label>
        <locationX>1238</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Meeting_Date_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Deputy_Details_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolDeputyUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date_1</targetReference>
            </connector>
            <label>Update Deputy Details</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that all input variables to start the flow are populated as expected</description>
        <name>Valid_inputs</name>
        <label>Valid inputs</label>
        <locationX>1997</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseEmployer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNew</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to determine if the meeting is new or updated</description>
        <name>frmIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!varMeetingCreatedDate} = {!varMeetingLastModifiedDate}, TRUE, FALSE )</expression>
    </formulas>
    <interviewLabel>Meeting Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date</name>
        <label>Update Meeting</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Hearing_Date__c</field>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_0</name>
        <label>Update Meeting</label>
        <locationX>842</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Hearing_Date__c</field>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_0_0</name>
        <label>Update Meeting</label>
        <locationX>1370</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_1</name>
        <label>Update Meeting</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_2</name>
        <label>Update Meeting</label>
        <locationX>1007</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_deputy_on_Non_New_Records</name>
        <label>Update deputy on Non New Records</label>
        <locationX>1271</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Rec_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <start>
        <locationX>1871</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Remove_Events_from_Cancelled_Meetings</name>
        <label>Remove Events from Cancelled Meetings</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <flowName>Meetings_Delete_events</flowName>
        <inputAssignments>
            <name>MeetingId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Continuance_Flow</name>
        <label>Run Continuance Flow</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <flowName>Meeting_Continuance</flowName>
        <inputAssignments>
            <name>MeetingId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeputyId</name>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeputyManagerId</name>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HearingOfficer</name>
            <value>
                <elementReference>varHearingOfficer</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Runs the meeting scheduled/rescheduled flow</description>
        <name>Run_Meeting_Scheduled_Rescheduled</name>
        <label>Run Meeting Scheduled/Rescheduled</label>
        <locationX>974</locationX>
        <locationY>2450</locationY>
        <flowName>Meeting_Scheduled_or_Rescheduled</flowName>
        <inputAssignments>
            <name>MeetingID</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
            <value>
                <elementReference>varMeetingRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>varMeetingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmployerAccountID</name>
            <value>
                <elementReference>varCaseEmployer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingEndTime</name>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingStartTime</name>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseNumber</name>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingScheduledFor</name>
            <value>
                <elementReference>vMeetingScheduledFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLegacyMeetingDate</name>
            <value>
                <elementReference>varLegacyMeetingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Flag set when it is necessary to update the deputy details</description>
        <name>boolDeputyUpdateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolISnew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Employer on the case</description>
        <name>varCaseEmployer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Case ID of the meeting that triggered the flow</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the deputy assigned to the case</description>
        <name>varDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Estimated duration calculated in, then passed in, from PB</description>
        <name>varEstimatedDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Hearing officer assigned to the meeting.</description>
        <name>varHearingOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>BOFE meeting start date</description>
        <name>varLegacyMeetingDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Date meeting was created. Passed in from Process</description>
        <name>varMeetingCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMeetingEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the meeting that triggered the flow</description>
        <name>varMeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Last modified date of meeting passed from process</description>
        <name>varMeetingLastModifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record type of the meeing that started the flow</description>
        <name>varMeetingRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Start date/time for the meeting passed from the process</description>
        <name>varMeetingStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status of the meeting that started the flow</description>
        <name>varMeetingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The original meeting date passed from the process or set if this is the first time.</description>
        <name>varOriginalMeetingDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When a case is related to a registration, pass the registrationID from the PB into this variable</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User ID of the senior deputy on the parent case</description>
        <name>varSeniorDepUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Boolean flag to indicate if the Start Time changed or not. Used in the meeting scheduling sub flow to determine if actions need to be taken</description>
        <name>varStartTimeChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean flag to indicate if the status changed or not. Used in the meeting scheduling sub flow to determine if actions need to be taken</description>
        <name>varStatusChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean value determined by comparing if the original meeting date is set or not and whether the meeting is scheduled</description>
        <name>varUpdateMeetingDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMeetingScheduledFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
