force-app/main/default/flows/New_Case_Management_RCI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Case_is_reopened</name>
        <label>Case is reopened</label>
        <locationX>280</locationX>
        <locationY>1407</locationY>
        <defaultConnector>
            <targetReference>Is_claimant_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_case</targetReference>
            </connector>
            <label>Case reopened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clears_language_field_if_no_interpreter_is_needed</name>
        <label>Clears language field if no interpreter is needed</label>
        <locationX>268</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Create_new_case_note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clears_language_if_no_interpreter_is_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interpreter_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_the_language_field_value</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Clears language if no interpreter is needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_case_note</name>
        <label>Create new case note</label>
        <locationX>271</locationX>
        <locationY>872</locationY>
        <defaultConnector>
            <targetReference>Create_task_when_Determination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_case_note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Case_Activity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_new_case_note</targetReference>
            </connector>
            <label>Create case note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_task_when_Determination</name>
        <label>Create task when Determination</label>
        <locationX>276</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Case_is_reopened</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_task_when_Determination_Served_Date_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Determination_Served_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task</targetReference>
            </connector>
            <label>Create task when Determination Served Date is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_claimant_new</name>
        <label>Is claimant new</label>
        <locationX>281</locationX>
        <locationY>1618</locationY>
        <defaultConnector>
            <targetReference>Is_screening_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Claimant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Anonymous__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Claimant__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_record</targetReference>
            </connector>
            <label>New Claimant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complaint_Screening_Question_is_EPA</name>
        <label>Is Complaint Screening Question is EPA</label>
        <locationX>280</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint_Screening_Question_is_EPA</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Complaint_Screening_Question__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complaint_Screening_Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPA (Equal Pay Act)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Type_to_EPA</targetReference>
            </connector>
            <label>Complaint Screening Question is EPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pre_Inv_Disposition_Accept_is_Assign_INV_Case_Type_not_equal_to_EPA_or_OSHA</name>
        <label>Is Pre-Inv Disposition Accept is Assign INV Case Type not equal to EPA or OSHA</label>
        <locationX>280</locationX>
        <locationY>2206</locationY>
        <defaultConnector>
            <targetReference>Is_Pre_Investigation_Disposition_is_Accept_and_Assign_INV_Case_Type_equals_OSHA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Inv_Disposition_Accept_is_Assign_INV_Case_Type_not_equal_to_EPA_or_OSHA</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept &amp; Assign INV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation Follow-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation Follow-up 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailed_Final_Request_to_Complainant_RCI_8_4</targetReference>
            </connector>
            <label>Pre-Inv Disposition Accept is Assign INV Case Type not equal to EPA or OSHA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pre_Investigation_Disposition_Accept_and_Assign_INV_Case_Type_not_equal_to_EP</name>
        <label>Is Pre-Investigation Disposition Accept and Assign INV Case Type not equal to EPA</label>
        <locationX>280</locationX>
        <locationY>2001</locationY>
        <defaultConnector>
            <targetReference>Is_Pre_Inv_Disposition_Accept_is_Assign_INV_Case_Type_not_equal_to_EPA_or_OSHA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Investigation_Disposition_is_Accept_and_Assign_INV_Case_Type_not_equal_to_EP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept &amp; Assign INV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation Follow-up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailed_Initial_Letters_to_all_Parties_RCI_4_1_4_6_3_1_5_1_5_2_5_3_Correspondence</targetReference>
            </connector>
            <label>Pre-Investigation Disposition is Accept and Assign INV Case Type not equal to EPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pre_Investigation_Disposition_is_Accept_and_Assign_INV_Case_Type_equals_OSHA</name>
        <label>Is Pre-Investigation Disposition is Accept and Assign INV Case Type equals OSHA</label>
        <locationX>277</locationX>
        <locationY>2400</locationY>
        <defaultConnector>
            <targetReference>Is_Pre_Investigation_Disposition_is_Admin_Closure_Case_Status_is_changed_from_Pr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Investigation_Disposition_is_Accept_and_Assign_INV_Case_Type_equals_OSHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept &amp; Assign INV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSHA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation Follow-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation Follow-up 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailed_Abandonment_Letter_to_Complainant_RCI_8_2</targetReference>
            </connector>
            <label>Pre-Investigation Disposition is Accept and Assign INV Case Type equals OSHA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pre_Investigation_Disposition_is_Admin_Closure_Case_Status_is_changed_from_Pr</name>
        <label>Is Pre-Investigation Disposition is Admin Closure Case Status is changed from Pre-Investigation to Closed</label>
        <locationX>279</locationX>
        <locationY>2596</locationY>
        <defaultConnector>
            <targetReference>Is_Complaint_Screening_Question_is_EPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Investigation_Disposition_is_Admin_Closure_Case_Status_is_changed_from_Pre_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Investigation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_Abandonment_Letter_to_Complainant_RCI_8_2</targetReference>
            </connector>
            <label>Pre-Investigation Disposition is Admin Closure Case Status is changed from Pre-Investigation to Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_screening_complete</name>
        <label>Is screening complete</label>
        <locationX>282</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Is_Pre_Investigation_Disposition_Accept_and_Assign_INV_Case_Type_not_equal_to_EP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screening_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Additional information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assignment_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Screening_Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Screening_Date</targetReference>
            </connector>
            <label>Screening Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_case_or_update_existing_case</name>
        <label>new case or update existing case</label>
        <locationX>266</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Clears_language_field_if_no_interpreter_is_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_RCI_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Date_to_Today</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New RCI Case</label>
        </rules>
    </decisions>
    <description>Using Date/Time of Last Case Activity to replace Date of Last Case Activity</description>
    <environments>Default</environments>
    <formulas>
        <name>determinationServedDateUpdated</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Determination_Served_Date__c})</expression>
    </formulas>
    <formulas>
        <name>eventDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.DateofLastCaseActivity__c})+480/1440</expression>
    </formulas>
    <formulas>
        <name>NewCase</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>todayDateTimePlus10</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY()+10)</expression>
    </formulas>
    <formulas>
        <name>todayPlus15days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+15</expression>
    </formulas>
    <formulas>
        <name>todayPlus30days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>todayPlus35days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+35</expression>
    </formulas>
    <interviewLabel>Case Management RCI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case Management RCI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_case_note</name>
        <label>Create a new case note</label>
        <locationX>707</locationX>
        <locationY>874</locationY>
        <connector>
            <targetReference>Create_task_when_Determination</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_Time__c</field>
            <value>
                <elementReference>$Record.DateTime_of_Last_Case_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Note__c</field>
            <value>
                <elementReference>$Record.Last_Case_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>General</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_record</name>
        <label>Create new record</label>
        <locationX>593</locationX>
        <locationY>1626</locationY>
        <inputAssignments>
            <field>Case_Role_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>$Record.Claimant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Mail_Abandonment_Letter_to_Complainant_RCI_8_2</name>
        <label>Mail Abandonment Letter to Complainant (RCI 8.2)</label>
        <locationX>598</locationX>
        <locationY>2594</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Due__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Mailed Decline Letter to Complainant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Mailed_Abandonment_Letter_to_Complainant_RCI_8_2</name>
        <label>Mailed Abandonment Letter to Complainant (RCI 8.2)</label>
        <locationX>598</locationX>
        <locationY>2395</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus15days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Due__c</field>
            <value>
                <elementReference>todayDateTimePlus10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class &amp; Certified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Mailed Final Request to Complainant </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Mailed_Final_Request_to_Complainant_RCI_8_4</name>
        <label>Mailed Final Request to Complainant (RCI 8.4)</label>
        <locationX>594</locationX>
        <locationY>2204</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus15days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Due__c</field>
            <value>
                <elementReference>todayDateTimePlus10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Mailed Final Request to Complainant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Mailed_Initial_Letters_to_all_Parties_RCI_4_1_4_6_3_1_5_1_5_2_5_3_Correspondence</name>
        <label>Mailed Initial Letters to all Parties (RCI 4.1, 4.6, 3.1, 5.1, 5.2, 5.3) Correspondence</label>
        <locationX>590</locationX>
        <locationY>2004</locationY>
        <inputAssignments>
            <field>Date_Mailed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Letter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>todayPlus35days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Due__c</field>
            <value>
                <elementReference>todayPlus30days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Method__c</field>
            <value>
                <stringValue>1st Class</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Mailed Initial Letters to all Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Clear_the_language_field_value</name>
        <label>Clear the language field value</label>
        <locationX>602</locationX>
        <locationY>668</locationY>
        <connector>
            <targetReference>Create_new_case_note</targetReference>
        </connector>
        <inputAssignments>
            <field>Language2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>615</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Is_claimant_new</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Closed_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Closure_Disposition_Other_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Closure_Disposition__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Purge_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Purge_Reason__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Type_to_EPA</name>
        <label>Update Case Type to EPA</label>
        <locationX>656</locationX>
        <locationY>2823</locationY>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>EPA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Date_to_Today</name>
        <label>Update Intake Date to Today</label>
        <locationX>605</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Clears_language_field_if_no_interpreter_is_needed</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Screening_Date</name>
        <label>Update Screening Date</label>
        <locationX>582</locationX>
        <locationY>1807</locationY>
        <inputAssignments>
            <field>Screening_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>106</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>new_case_or_update_existing_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCI</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>732</locationX>
        <locationY>1141</locationY>
        <connector>
            <targetReference>Case_is_reopened</targetReference>
        </connector>
        <flowName>Create_task_when_Determination_Served_Date_is_updated_with_Prepared_By</flowName>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
