force-app/main/default/flows/New_WCA_Garment_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Deputy</name>
        <label>Notify Deputy</label>
        <locationX>1016</locationX>
        <locationY>510</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Perform_Assignment_Actions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyDeputy</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignedDeputyId_Variable_Assignment</name>
        <label>AssignedDeputyId Variable Assignment</label>
        <locationX>1008</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>sAssignedDeputy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Assigned_Deputy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Internal_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets all input variables for use in this flow.</description>
        <name>InputVariables</name>
        <label>Input Variables</label>
        <locationX>390</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WCA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1BZ0000001Bc37</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001Z000000w9fVz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Chatter_User_is_NULL</name>
        <label>Check if Chatter User is NULL</label>
        <locationX>1013</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Chatter_User_is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatterUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Deputy</targetReference>
            </connector>
            <label>Chatter User is Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies that open cases exist for the Employer.</description>
        <name>Open_Cases_Exist</name>
        <label>Open Cases Exist</label>
        <locationX>622</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedDeputy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_Deputy</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Input</name>
        <label>Valid Input</label>
        <locationX>387</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Garment_Valid_Input</name>
            <conditionLogic>( 1 OR 2 ) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmployerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmployerID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>open_existing_cases_against_this_employer</targetReference>
            </connector>
            <label>WCA/Garment Valid Input</label>
        </rules>
    </decisions>
    <description>Added case stage update to &quot;Investigation&quot; when status is set to &quot;Under Investigation&quot;</description>
    <interviewLabel>WCA/Garment Case Flow - Assign Deputy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WCA/Garment Case Flow - Assign Deputy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Internal_Employee</name>
        <label>Lookup Internal Employee</label>
        <locationX>1010</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Chatter_User_is_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sAssignedDeputy</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>varAssignedDeputyEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSeniorID</assignToReference>
            <field>Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ChatterUser</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>open_existing_cases_against_this_employer</name>
        <label>open existing cases against this employer</label>
        <locationX>387</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Cases_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfficeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>AssignedDeputy</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Assigned Deputy of the DIR Case that triggered the flow to match the Assigned Deputy of another open case.</description>
        <name>Update_Assigned_Deputy</name>
        <label>Update Assigned Deputy</label>
        <locationX>626</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>AssignedDeputyId_Variable_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Deputy__c</field>
            <value>
                <elementReference>AssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Stage__c</field>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type_Text__c</field>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Investigation</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the case setting necessary values when no other cases are located</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>622</locationX>
        <locationY>582</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Record_Type_Text__c</field>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Perform_Assignment_Actions</name>
        <label>Perform Assignment Actions</label>
        <locationX>1239</locationX>
        <locationY>508</locationY>
        <flowName>CM_Peform_Assignment_Actions</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedDeputyID</name>
            <value>
                <elementReference>AssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedDeputyUserID</name>
            <value>
                <elementReference>ChatterUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssignedDeputyEmail</name>
            <value>
                <elementReference>varAssignedDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SeniorDeputyID</name>
            <value>
                <elementReference>varSeniorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRTID</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Chatter text to notify deputy</description>
        <name>NotifyDeputy</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!ChatterUser}] - This case has been assigned to you; please review.</text>
    </textTemplates>
    <textTemplates>
        <description>Debug details for the current case</description>
        <name>txtCurrentCaseDebug</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>CaseID: {!CurrentCase.Id}
Current Case RT: {!CurrentCase.RecordTypeId}
Trigger Case RT: {!RecordTypeID}
Status: {!CurrentCase.Status__c}
Dep: {!CurrentCase.Assigned_Deputy__c}</text>
    </textTemplates>
    <variables>
        <name>AssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the DIR Case record.</description>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatterUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current case being evaluated by the loop process.</description>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Passes the employer ID related to a new DIR Case record.</description>
        <name>EmployerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>All open WCA/Garment DIR Cases.</description>
        <name>OpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Contains the record type ID of the DIR Case that triggers the flow.</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pulls record type name from DIR Case record.</description>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sAssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Email address of the assigned Deputy</description>
        <name>varAssignedDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfficeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the deputy&apos;s Senior</description>
        <name>varSeniorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
