force-app/main/default/flows/New_Issue_Modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Modification_Category</name>
        <label>Modification Category</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Modification_Type_and_Category.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wage Modification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Issue_Modification_Type_and_Category.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wage Modification - Companion Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CI_EE_Amt_Assessed</targetReference>
            </connector>
            <label>Wage</label>
        </rules>
        <rules>
            <name>Wage_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Modification_Type_and_Category.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wage Interest Modification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CI_Total_Wage_Interest_Amount</targetReference>
            </connector>
            <label>Wage Interest</label>
        </rules>
        <rules>
            <name>Penalty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Modification_Type_and_Category.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Penalty Modification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CI_Penalty_Assessment_Amount</targetReference>
            </connector>
            <label>Penalty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Issue_Modification_Modification_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modification_Category__c</picklistField>
        <picklistObject>Issue_Modifications__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue_Modification_Modification_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modification_Type__c</picklistField>
        <picklistObject>Issue_Modifications__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fConcatinated_Comment</name>
        <dataType>String</dataType>
        <expression>{!Comment} &amp;BR() &amp;
{!Modification_Type_Other_Comment}</expression>
    </formulas>
    <formulas>
        <name>fFull_Case_Issue_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Case Issue: &quot; &amp; {!Get_Parent_CI.Name} &amp; &quot; - &quot; &amp; 
IF(ISBLANK({!Get_Parent_CI.Violation_Type__r.Civil_Penalty_Section__c}), {!Get_Parent_CI.Violation_Type__r.Short_Description__c}, {!Get_Parent_CI.Violation_Type__r.Civil_Penalty_Section__c} &amp; &quot;: &quot; &amp; {!Get_Parent_CI.Violation_Type__r.Short_Description__c})</expression>
    </formulas>
    <interviewLabel>New Issue Modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Issue Modification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Issue_Modification_Record</name>
        <label>Create Issue Modification Record</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Modification_Category</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Violation__c</field>
            <value>
                <elementReference>Get_Parent_CI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>fConcatinated_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modification_Amount__c</field>
            <value>
                <elementReference>Modified_Assessed_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modification_Category__c</field>
            <value>
                <elementReference>Issue_Modification_Type_and_Category.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modification_Date__c</field>
            <value>
                <elementReference>Modification_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modification_Type__c</field>
            <value>
                <elementReference>Issue_Modification_Type_and_Category.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penalty_Assessment_Description__c</field>
            <value>
                <elementReference>Penalty_Assessment_Description</elementReference>
            </value>
        </inputAssignments>
        <object>Issue_Modifications__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_CI</name>
        <label>Get Parent CI</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DIR_Violation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CI_EE_Amt_Assessed</name>
        <label>Update CI EE Amt Assessed</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_CI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wages_Due__c</field>
            <value>
                <elementReference>Modified_Assessed_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Violation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CI_Penalty_Assessment_Amount</name>
        <label>Update CI Penalty Assessment Amount</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_CI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Citation_Amount__c</field>
            <value>
                <elementReference>Modified_Assessed_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Violation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CI_Total_Wage_Interest_Amount</name>
        <label>Update CI Total Wage Interest Amount</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_CI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Wage_Interest_Amount__c</field>
            <value>
                <elementReference>Modified_Assessed_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Violation__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Issue_Modification_Record</targetReference>
        </connector>
        <fields>
            <name>Case_Issue_Name</name>
            <fieldText>&lt;p&gt;{!fFull_Case_Issue_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Issue_Modification_Type_and_Category</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Issue_Modifications__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Modification_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Modification_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Modification_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Modification Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modified_Assessed_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Modified Assessed Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the new amount for this Case Issue&apos;s category&apos;s (Wage, Penalty, or Wage Interest) Assessed Amount.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Modification_Type_Other_Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Modification_Type_and_Category.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Modification_Type_and_Category.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Penalty_Assessment_Description</name>
            <fieldText>Penalty Assessment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Case Issue Modification</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_CI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record Id of the parent Case Issue</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
