force-app/main/default/flows/New_Intake_Form_Email_Claimant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Confirmation_to_Claimant</name>
        <label>Email Confirmation to Claimant</label>
        <locationX>697</locationX>
        <locationY>668</locationY>
        <actionName>Case_Role__c.New_Intake_Form_Email_Claimant</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Find_Employee_Record</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRoleId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Role__c.New_Intake_Form_Email_Claimant</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This will assign the Case Role Name to a variable from the Loop.</description>
        <name>Set_Role_Name</name>
        <label>Set Role Name</label>
        <locationX>209</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>CaseRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeCaseRole.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeCaseRole.Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeCaseRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Role_Name</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Employee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check Case Role Names</description>
        <name>Case_Role_Name</name>
        <label>Case Role Name</label>
        <locationX>427</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Find_Employee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Role_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claimant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Confirmation_to_Claimant</targetReference>
            </connector>
            <label>Case Role = Claimant</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Intake_Form</name>
        <label>New Intake Form</label>
        <locationX>203</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Roles</targetReference>
            </connector>
            <label>Status = New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to verify that the correct record type and fields are set</description>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>207</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Intake_Form</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>New Intake Form - Email Claimant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Intake Form - Email Claimant</label>
    <loops>
        <name>Find_Employee_Record</name>
        <label>Find Employee Record</label>
        <locationX>206</locationX>
        <locationY>543</locationY>
        <assignNextValueToReference>EmployeeCaseRole</assignNextValueToReference>
        <collectionReference>CaseRoleIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Role_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Roles</name>
        <label>Case Roles</label>
        <locationX>206</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Employee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case_Role__c</object>
        <outputReference>CaseRoleIds</outputReference>
        <queriedFields>Email_Address__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseChatterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRoleIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Role__c</objectType>
    </variables>
    <variables>
        <name>CaseRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeCaseRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Role__c</objectType>
    </variables>
    <variables>
        <name>FeedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
