force-app/main/default/flows/PAGA_duplicate_files_processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Duplicates_exist</name>
        <label>Duplicates exist</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_Attachment_records</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_duplicate_files</targetReference>
            </connector>
            <label>Duplicates found</label>
        </rules>
    </decisions>
    <interviewLabel>PAGA files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAGA duplicate files processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_duplicate_Attachment_records</name>
        <label>Get duplicate Attachment + records</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicates_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Short_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Short_Description__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date_Submitted__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>File_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.File_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>File_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Short_Description__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attachments_New__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_duplicate_files</name>
        <label>Update duplicate files</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </inputAssignments>
        <object>Attachments_New__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_duplicate_Attachment_records</targetReference>
        </connector>
        <object>Attachments_New__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>vCaseManagement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vDateSubmitted</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
