force-app/main/default/flows/Payment_Plan_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_Plan_Past_Due_Task</name>
        <label>Payment Plan Past Due Task</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Case__r.Assigned_Deputy__r.User__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Payment Plan Past Due</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X10_Day_Email_Alert</name>
        <label>10 Day Email Alert</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>Payment_Plan__c.Payment_Plan_10_Days_Past_Agreement_Date</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Payment_Plan__c.Payment_Plan_10_Days_Past_Agreement_Date</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X5_Day_Email_Alert</name>
        <label>5 Day Email Alert</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>Payment_Plan__c.Payment_5_Days_Overdue</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Payment_Plan__c.Payment_5_Days_Overdue</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Create_Task_On_RCI_Case</name>
        <label>Create Task On RCI Case?</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Payments__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Plan_Total_Amount_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Payment_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Plan_Past_Due_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_Days_Past_Email_Alert</name>
        <label>10 Days Past Email Alert?</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balance_Due_0_10_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Plan_Balance_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10_Day_Email_Alert</targetReference>
            </connector>
            <label>Balance Due &gt; $0</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5_Days_Overdue_Email_Alert</name>
        <label>5 Days Overdue Email Alert?</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balance_Due_0_5_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Plan_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_Day_Email_Alert</targetReference>
            </connector>
            <label>Balance Due &gt; $0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fDueDateIfNew</name>
        <dataType>Date</dataType>
        <expression>IF(ISNEW(), {!$Record.Date_of_First_Payment__c}, IF(ISNULL({!$Record.Due_Date__c}),{!$Record.Date_of_First_Payment__c}, {!$Record.Due_Date__c}))</expression>
    </formulas>
    <interviewLabel>Payment Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Plan Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Status_Not_Current</name>
        <label>Set Status Not Current</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Create_Task_On_RCI_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment_Plan_Status__c</field>
            <value>
                <stringValue>Not Current</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deputy_Email_Due_Date</name>
        <label>Update Deputy Email, Due Date</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Deputy_Email__c</field>
            <value>
                <elementReference>$Record.Case__r.Assigned_Deputy_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fDueDateIfNew</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Deputy_Email_Due_Date</targetReference>
        </connector>
        <object>Payment_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_After_Due_Date</name>
            <connector>
                <targetReference>Set_Status_Not_Current</targetReference>
            </connector>
            <label>1 Hour After Due Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Days_After_Due_Date</name>
            <connector>
                <targetReference>X5_Days_Overdue_Email_Alert</targetReference>
            </connector>
            <label>5 Days After Due Date</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Days_After_Agreement_Date</name>
            <connector>
                <targetReference>X10_Days_Past_Email_Alert</targetReference>
            </connector>
            <label>10 Days After Agreement Date</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Payment_Plan_Agreement_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
