force-app/main/default/flows/Referral_Registraion_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>264</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferralRecType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputySr</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferralID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Senior_populated</name>
        <label>Senior populated</label>
        <locationX>486</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>Set_deputy_and_senior_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputySr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_deputy_and_senior</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>265</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReferralRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Senior_populated</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions related to referring a registration</description>
    <interviewLabel>Referral Registraion flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Registraion flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_deputy_and_senior</name>
        <label>Set deputy and senior</label>
        <locationX>719</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Set_Reg_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Deputy__c</field>
            <value>
                <elementReference>varAssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Deputy_s_Senior__c</field>
            <value>
                <elementReference>varAssignedDeputySr</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_deputy_and_senior_0</name>
        <label>Set deputy and senior</label>
        <locationX>724</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Set_Reg_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Deputy__c</field>
            <value>
                <elementReference>varAssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Reg_status</name>
        <label>Set Reg status</label>
        <locationX>1024</locationX>
        <locationY>268</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Referred for Investigation</stringValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <description>Deputy assigned to registration</description>
        <name>varAssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>manager of assigned deputy on registration</description>
        <name>varAssignedDeputySr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type of referral passed from PB and parent flow</description>
        <name>varReferralRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of regisration passed from process builder and parent flow</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
