force-app/main/default/flows/Referral_De_Novo_appeal_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>attorney_found_debug_message</name>
        <label>attorney found debug message</label>
        <locationX>929</locationX>
        <locationY>366</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Comma_Needed</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Found attorney email address: {!AssignedAttorney.Assigned_Employee_Email_Address__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>create_task_debug</name>
        <label>create task debug</label>
        <locationX>400</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_task_for_Sr_Deputy</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>attempting to create task</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_Error_message</name>
        <label>Create Task Error message</label>
        <locationX>51</locationX>
        <locationY>568</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Attempt to create task for senior failed. Please take appropriate actions</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Attorneys</name>
        <label>Email Attorneys</label>
        <locationX>812</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToAttorneys</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>De Novo Referral has been assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varAttorneyEmails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>end_of_loop_debug</name>
        <label>end of loop debug</label>
        <locationX>579</locationX>
        <locationY>648</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Attorneys_present</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>End of attorney loop - {!varAttorneyEmails}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Failed_to_Update_Sr_User_Lookup_on_Referral</name>
        <label>Failed to Update Sr User Lookup on Referral</label>
        <locationX>236</locationX>
        <locationY>222</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Unable to update the Sr. User Record lookup. Please update manually in the system information section in order to submit this referral for approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Flow_Start_debug</name>
        <label>Flow Start debug</label>
        <locationX>668</locationX>
        <locationY>218</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Referral_Status</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>De Novo appeal flow start</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Chatters the senior deputy when no attorney has been assigned to the referral</description>
        <name>Notify_Senior_no_attorney</name>
        <label>Notify Senior no attorney</label>
        <locationX>1032</locationX>
        <locationY>646</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Referral_status</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!varSeniorUserID}] No attorney was assigned to this referral prior to approving it. Please assign one and set the status to &quot;referred&quot;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>adds a comma between the email addresses</description>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>1235</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>varAttorneyEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_attorney_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>adds current attorney&apos;s email address to the comma delimited variable</description>
        <name>Append_attorney_email</name>
        <label>Append attorney email</label>
        <locationX>1233</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>varAttorneyEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedAttorney.Assigned_Employee_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttorneyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_assigned_attorneys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>479</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>varReferralID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1bZ00000011tAh</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSeniorUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005d0000003YjFk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeputyEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>jeremy@vertiba.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferralStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inputs_valid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks that at least one attorney was assigned to the referral</description>
        <name>Attorneys_present</name>
        <label>Attorneys present</label>
        <locationX>812</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Notify_Senior_no_attorney</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttorneyCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_URL_for_email_template</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the attorney count to determine if a comma is needed between the email addresses</description>
        <name>Comma_Needed</name>
        <label>Comma Needed</label>
        <locationX>1032</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Append_attorney_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttorneyCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that all values are present needed to start the flow</description>
        <name>Inputs_valid</name>
        <label>Inputs valid</label>
        <locationX>479</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSeniorUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeputyEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Status</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Status</name>
        <label>Referral Status</label>
        <locationX>479</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Sr_Deputy</targetReference>
            </connector>
            <label>Pending Approval</label>
        </rules>
        <rules>
            <name>Referred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Attorneys</targetReference>
            </connector>
            <label>Referred</label>
        </rules>
        <rules>
            <name>New_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Senior_User_on_Referral</targetReference>
            </connector>
            <label>New Referral</label>
        </rules>
    </decisions>
    <description>Creates task for senior deputy and emails to assigned attorneys when De Novo referral is processed
- Added populating the deputy and senior on  the referral</description>
    <formulas>
        <description>URL to the referral record for use in the email template</description>
        <name>flaRecordURL</name>
        <dataType>String</dataType>
        <expression>{!varBaseURL}+{!varReferralID}</expression>
    </formulas>
    <interviewLabel>Referral De Novo appeal flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral De Novo appeal flow</label>
    <loops>
        <description>loops over assigned attorneys capturing their email addresses in a comma delimited variable</description>
        <name>Iterate_over_assigned_attorneys</name>
        <label>Iterate over assigned attorneys</label>
        <locationX>812</locationX>
        <locationY>513</locationY>
        <assignNextValueToReference>AssignedAttorney</assignNextValueToReference>
        <collectionReference>AssignedAttorneys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comma_Needed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Attorneys_present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_for_Sr_Deputy</name>
        <label>Create task for Sr. Deputy</label>
        <locationX>229</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Set_Senior_User_on_Referral</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Task_Error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSeniorUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>De Novo referral pending approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the list of assigned attorneys on the referral</description>
        <name>Get_Assigned_Attorneys</name>
        <label>Get Assigned Attorneys</label>
        <locationX>572</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_assigned_attorneys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Currently_Assigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <object>Referral_Assignment__c</object>
        <outputReference>AssignedAttorneys</outputReference>
        <queriedFields>Assigned_Employee_Email_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Queries the custom setting to get the base URL for the org to build the link in the text template for the email</description>
        <name>Get_Base_URL_for_email_template</name>
        <label>Get Base URL for email template</label>
        <locationX>814</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Attorneys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BaseURL</stringValue>
            </value>
        </filters>
        <object>Key_Value_Store__c</object>
        <outputAssignments>
            <assignToReference>varBaseURL</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Modifies the referral status so that the senior can re-submit it to the flow.</description>
        <name>Set_Referral_status</name>
        <label>Set Referral status</label>
        <locationX>1031</locationX>
        <locationY>773</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the senior user record lookup on the referral record to facilitate the approval process</description>
        <name>Set_Senior_User_on_Referral</name>
        <label>Set Senior User on Referral</label>
        <locationX>235</locationX>
        <locationY>355</locationY>
        <faultConnector>
            <targetReference>Failed_to_Update_Sr_User_Lookup_on_Referral</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referring_Deputy__c</field>
            <value>
                <elementReference>varReferringDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Deputy_s_Senior__c</field>
            <value>
                <elementReference>varReferringDepSr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_User_Record__c</field>
            <value>
                <elementReference>varSeniorUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <startElementReference>Inputs_valid</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Email to send to the attorneys</description>
        <name>EmailToAttorneys</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please note that the De Novo Appeal referral linked below has been assigned to you:
{!flaRecordURL}</text>
    </textTemplates>
    <variables>
        <description>current assigned attorney record being evaluated</description>
        <name>AssignedAttorney</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Assignment__c</objectType>
    </variables>
    <variables>
        <description>Assigned Attorneys found on the referral</description>
        <name>AssignedAttorneys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Assignment__c</objectType>
    </variables>
    <variables>
        <description>Count of attorneys added to the list. Used to determine if a comma is needed between the email addresses</description>
        <name>varAttorneyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>list of attorney email addresses</description>
        <name>varAttorneyEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Base URL of the org retrieved from key value store</description>
        <name>varBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Assigned Deputy&apos;s email address</description>
        <name>varDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the referral triggering the flow</description>
        <name>varReferralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status of the referral that triggered the flow</description>
        <name>varReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Senior of the referring deputy from the case passe by pb</description>
        <name>varReferringDepSr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Refering deputy from the case passed from the process builder</description>
        <name>varReferringDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User ID of the senior deputy assigned to the referral</description>
        <name>varSeniorUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
