force-app/main/default/flows/Referral_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Additional_Info_Template</name>
        <label>Additional Info Template</label>
        <locationX>980</locationX>
        <locationY>655</locationY>
        <actionName>Referral__c.Additional_information_request_JEU_referral</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Deputy_Assigned</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Referral__c.Additional_information_request_JEU_referral</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Referral_flow_start_debug</name>
        <label>Referral flow start debug</label>
        <locationX>390</locationX>
        <locationY>62</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Registration_or_Case</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtStartDebug</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>570</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>varReferralID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputyID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedSeniorDeputyID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedSeniorUserID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Registration_or_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Information_Needed</name>
        <label>Additional Information Needed</label>
        <locationX>733</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Deputy_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousReferralStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_emails_on_referral</targetReference>
            </connector>
            <label>Additional Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Valid_Inputs</name>
        <label>Case Valid Inputs</label>
        <locationX>571</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rec_Type</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deputy_Assigned</name>
        <label>Deputy Assigned</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Referral_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referral_Lookup_Values</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deputy_Assigned_0</name>
        <label>Deputy Assigned</label>
        <locationX>325</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>De_Novo_Appeal_subflow</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Logic branch for new referrals</description>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>578</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>Additional_Information_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WCA_JEU_Referral_Flow</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rec_Type</name>
        <label>Rec Type</label>
        <locationX>568</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Deputy_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>WCA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refer_to_JEU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNew</targetReference>
            </connector>
            <label>WCA/Garment Referral to JEU</label>
        </rules>
        <rules>
            <name>BOFE_Civil_Litigation_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Civil_Litigation_Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned</targetReference>
            </connector>
            <label>BOFE Civil Litigation Referral</label>
        </rules>
        <rules>
            <name>BOFE_Request_for_Legal_Court_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Request_for_Legal_Court_Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned</targetReference>
            </connector>
            <label>BOFE Request for Legal Court Action</label>
        </rules>
        <rules>
            <name>BOFE_Request_for_Legal_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Request_for_Legal_Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned</targetReference>
            </connector>
            <label>BOFE Request for Legal Services</label>
        </rules>
        <rules>
            <name>WCA_Garment_Referral_to_BOFE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Garment_Referral_to_BOFE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned</targetReference>
            </connector>
            <label>WCA/Garment Referral to BOFE</label>
        </rules>
        <rules>
            <name>De_Novo_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_De_Novo_Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned_0</targetReference>
            </connector>
            <label>De Novo Referral</label>
        </rules>
        <rules>
            <name>RS_Refer_to_BOFE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS_Refer_to_BOFE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Accepted</targetReference>
            </connector>
            <label>RS Refer to BOFE</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines if the referral was accepted on this save</description>
        <name>Referral_Accepted</name>
        <label>Referral Accepted</label>
        <locationX>322</locationX>
        <locationY>735</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousReferralStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reg_on_case</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Directs logic based on the status of the referral</description>
        <name>Referral_Status</name>
        <label>Referral Status</label>
        <locationX>1086</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Changed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Defines if the referral came from a registration or from a case</description>
        <name>Registration_or_Case</name>
        <label>Registration or Case</label>
        <locationX>572</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Case_Valid_Inputs</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Registration_Valid_Inputs</targetReference>
            </connector>
            <label>Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Valid_Inputs</name>
        <label>Registration Valid Inputs</label>
        <locationX>803</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>registration Invalid</defaultConnectorLabel>
        <rules>
            <name>RegistrationValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReferralID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignedDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>referral_registration_flow</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the status was changed to the current status or if it was already in that status</description>
        <name>Status_Changed</name>
        <label>Status Changed</label>
        <locationX>1090</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varPreviousReferralStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WCA_Rec_Type</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Certain actions occur only for WCA rec types</description>
        <name>WCA_Rec_Type</name>
        <label>WCA Rec Type</label>
        <locationX>1086</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>WCA_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Wage_Referral_Closed_Flow</targetReference>
            </connector>
            <label>WCA</label>
        </rules>
    </decisions>
    <description>Runs all actions necessary on the creation or update of a referral. Must be built upon in the future.
- Added Additional information needed status processing and email to WCA to JEU referral</description>
    <formulas>
        <description>reveals the</description>
        <name>flacaseID</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL ( {!varCaseID} ) , &apos;is null&apos;, 
    IF ( {!varCaseID} == &apos;&apos;, &apos;Empty String&apos; , &apos;Populated&apos;) 
)</expression>
    </formulas>
    <formulas>
        <description>Uses the created date and the last modified date passed into the flow to determine if the referral is new or not.</description>
        <name>flaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!varCreatedDate} = {!varLastModifiedDate}, TRUE, FALSE )</expression>
    </formulas>
    <formulas>
        <name>flaRegID</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL ( {!varRegistrationID} ) , &apos;is null&apos;, 
    IF ( {!varRegistrationID} == &apos;&apos;, &apos;Empty String&apos; , &apos;Populated&apos;) 
)</expression>
    </formulas>
    <interviewLabel>Referral Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_reg_on_case</name>
        <label>Set reg on case</label>
        <locationX>319</locationX>
        <locationY>900</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_emails_on_referral</name>
        <label>Update emails on referral</label>
        <locationX>901</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>Additional_Info_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deputy_Email__c</field>
            <value>
                <elementReference>varDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Deputy_Email__c</field>
            <value>
                <elementReference>varSrDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Registration_or_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>De_Novo_Appeal_subflow</name>
        <label>De Novo Appeal subflow</label>
        <locationX>325</locationX>
        <locationY>380</locationY>
        <flowName>Referral_De_Novo_appeal_flow</flowName>
        <inputAssignments>
            <name>varReferralID</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDeputyEmail</name>
            <value>
                <elementReference>varDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralStatus</name>
            <value>
                <elementReference>varReferralStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeniorUserID</name>
            <value>
                <elementReference>varAssignedSeniorUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferringDeputy</name>
            <value>
                <elementReference>varAssignedDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferringDepSr</name>
            <value>
                <elementReference>varAssignedSeniorDeputyID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>referral_registration_flow</name>
        <label>referral registration flow</label>
        <locationX>1016</locationX>
        <locationY>28</locationY>
        <flowName>Referral_Registraion_flow</flowName>
        <inputAssignments>
            <name>varAssignedDeputy</name>
            <value>
                <elementReference>varAssignedDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssignedDeputySr</name>
            <value>
                <elementReference>varAssignedSeniorDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralID</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralRecType</name>
            <value>
                <elementReference>varRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Wage_Referral_Closed_Flow</name>
        <label>Run Wage Referral Closed Flow</label>
        <locationX>1289</locationX>
        <locationY>163</locationY>
        <flowName>Wage_Referral_Closed_flow</flowName>
        <inputAssignments>
            <name>DeputyEmail</name>
            <value>
                <elementReference>varDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SrDeputyEmail</name>
            <value>
                <elementReference>varSrDeputyEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralName</name>
            <value>
                <elementReference>varReferralName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varReferralID</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Calls flow to set the lookup values on the referral once created</description>
        <name>Set_Referral_Lookup_Values</name>
        <label>Set Referral Lookup Values</label>
        <locationX>1194</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Referral_Status</targetReference>
        </connector>
        <flowName>Set_Referral_lookup_values</flowName>
        <inputAssignments>
            <name>ReferralID</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferringDeputyID</name>
            <value>
                <elementReference>varAssignedDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferringDeputySeniorID</name>
            <value>
                <elementReference>varAssignedSeniorDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SrDeputyUserID</name>
            <value>
                <elementReference>varAssignedSeniorUserID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>WCA_JEU_Referral_Flow</name>
        <label>WCA JEU Referral Flow</label>
        <locationX>746</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Additional_Information_Needed</targetReference>
        </connector>
        <flowName>Referral_WCA_JEU_Referral_Flow</flowName>
        <inputAssignments>
            <name>varReferralID</name>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Provides ability to debug the start of the flow to determine the variable values</description>
        <name>txtStartDebug</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>CaseID: {!flacaseID}
RegID: {!flaRegID}</text>
    </textTemplates>
    <variables>
        <name>varAdditionalInfoRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the deputy assigned to the parent case</description>
        <name>varAssignedDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignedDeputyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the assigned deputy&apos;s senior</description>
        <name>varAssignedSeniorDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User ID of the assigned deputy&apos;s senior</description>
        <name>varAssignedSeniorUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the parent case to the referral</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Created date of the referral</description>
        <name>varCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the deputy email if passed from the process builder. Used in the close subflow</description>
        <name>varDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Last Modified date of the referral</description>
        <name>varLastModifiedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value of the status field on the referral prior to the save.</description>
        <name>varPreviousReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record type of the referral that triggered the flow</description>
        <name>varRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the referral that triggered the flow</description>
        <name>varReferralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the referral used in the close sub flow</description>
        <name>varReferralName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current status of the referral passed from PB</description>
        <name>varReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>for referrals taht come from registrations, this is passed from the pb</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Senior Deputy&apos;s email passed from the process builder and used in the close subflow</description>
        <name>varSrDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
