force-app/main/default/flows/Registration_Question_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Does_not_have_answer</name>
        <label>Does not have answer</label>
        <locationX>159</locationX>
        <locationY>428</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Answered_to_FALSE</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RegistrationQuestionID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Does not have answer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Has_answer_Yes</name>
        <label>Has answer</label>
        <locationX>663</locationX>
        <locationY>402</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Answered_to_TRUE</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RegistrationQuestionID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Has Answer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_variables</name>
        <label>Post variables</label>
        <locationX>414</locationX>
        <locationY>272</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Answer_Changed</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RegistrationQuestionID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Txt_Post_variables</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>413</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>RegistrationQuestionID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Answer</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Answered</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Post_variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Answer_Changed</name>
        <label>Answer Changed</label>
        <locationX>414</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAnswer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAnswerPriorValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Answer</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Answer</name>
        <label>Has Answer?</label>
        <locationX>417</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Does_not_have_answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Answer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAnswer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_answer_Yes</targetReference>
            </connector>
            <label>Yes has answer</label>
        </rules>
    </decisions>
    <description>Handles all actions when a registration question is updated
- changed Has Answer criteria</description>
    <interviewLabel>Registration Question Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Question Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Answered_to_FALSE</name>
        <label>Set Answered to FALSE</label>
        <locationX>163</locationX>
        <locationY>567</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistrationQuestionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Registration_Question__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Answered_to_TRUE</name>
        <label>Set Answered to TRUE</label>
        <locationX>665</locationX>
        <locationY>567</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistrationQuestionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Registration_Question__c</object>
    </recordUpdates>
    <startElementReference>Post_variables</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Txt_Post_variables</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>ID: {!RegistrationQuestionID}
Answer: {!varAnswer}
PriorAnswer: {!varAnswerPriorValue}
Answered: {!var_Answered}</text>
    </textTemplates>
    <variables>
        <name>RegistrationQuestionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Answered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current answer value</description>
        <name>varAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the answer</description>
        <name>varAnswerPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
