force-app/main/default/flows/Registration_Follow_Up_Q_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>165</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>var_Answered</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumberofQsAnswered</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FollowUpId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Answer</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Answer_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Answer_changed</name>
        <label>Answer changed?</label>
        <locationX>165</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>No changes</defaultConnectorLabel>
        <rules>
            <name>Answer_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Answer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_answered</targetReference>
            </connector>
            <label>Answer has changed</label>
        </rules>
        <rules>
            <name>Number_of_Qs_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberofQsAnswered</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorNumofQs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_answered</targetReference>
            </connector>
            <label>Number of Qs has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Detail_questions_answered</name>
        <label>Detail questions answered?</label>
        <locationX>757</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Set_Answered_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Detail_questions_answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberofQsAnswered</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Answered_to_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_answered</name>
        <label>Question answered?</label>
        <locationX>575</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Detail_questions_answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_question_answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Answer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Answered_to_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets Answered to TRUE once Follow Up question has been answered. Set to FALSE if question has not been answered.</description>
    <interviewLabel>Registration Follow Up Q Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Follow Up Q Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Answered_to_FALSE</name>
        <label>Set Answered to FALSE</label>
        <locationX>948</locationX>
        <locationY>177</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FollowUpId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Follow_Up_Question__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Answered_to_TRUE</name>
        <label>Set Answered to TRUE</label>
        <locationX>657</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FollowUpId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Answered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Follow_Up_Question__c</object>
    </recordUpdates>
    <startElementReference>Answer_changed</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Answered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FollowUpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberofQsAnswered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PriorAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriorNumofQs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_QuestionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
