force-app/main/default/flows/Registration_In_Violation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Violation_Letter</name>
        <label>Send Violation Letter</label>
        <locationX>410</locationX>
        <locationY>238</locationY>
        <actionName>License_Registration__c.REG_Send_Violation_Letter</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>License_Registration__c.REG_Send_Violation_Letter</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>183</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>179</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Violation_Letter</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Takes actions necessary when a registration enters into a violation status</description>
    <interviewLabel>Registration - In Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration - In Violation</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
