force-app/main/default/flows/Registration_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>189</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RegistrationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Rr00000005tDw</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DateFirstApproved</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserProfileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReminderToResubmit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_Approved</name>
        <label>Status Approved for first time?</label>
        <locationX>472</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Reset_Ready_to_submit_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Approved</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DateFirstApproved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_First_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs?</label>
        <locationX>181</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_RegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates made after a Registration is Approved
reset template status</description>
    <formulas>
        <description>sets template status to incomplete for all sections to allow updates after approval and prompt user to resubmit</description>
        <name>flaTemplateStatus</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!varVIPTemplateStatus} , &apos;Completed&apos;, &apos;Incomplete&apos; )</expression>
    </formulas>
    <interviewLabel>Registration Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Ready_to_submit_field</name>
        <label>Reset Ready to submit field</label>
        <locationX>473</locationX>
        <locationY>356</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_to_Resubmit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Submit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_Template_Status__c</field>
            <value>
                <elementReference>flaTemplateStatus</elementReference>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Date_First_Approved</name>
        <label>Set Date First Approved</label>
        <locationX>756</locationX>
        <locationY>180</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_First_Approved__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Resubmit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Submit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_Template_Status__c</field>
            <value>
                <elementReference>flaTemplateStatus</elementReference>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>ResubmissionReminderEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Changes were recently made to Registration #{!var_RegistrationID}, but it was not resubmitted. Please log in and submit your changes by opening your registration and clicking the &apos;Submit&apos; button on the Submit tab. Changes will not take effect until resubmitted, approved, and registration account balance is paid in full.</text>
    </textTemplates>
    <textTemplates>
        <name>ResubmissionReminderSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Registration #{!var_RegistrationID} needs re-submitted</text>
    </textTemplates>
    <variables>
        <name>var_DateFirstApproved</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Remind_Applicant_to_Resubmit__c</description>
        <name>var_ReminderToResubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Registration Status</description>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>from form</description>
        <name>varVIPTemplateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
