force-app/main/default/flows/Registration_DBA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Attachment_Needed</name>
        <label>Attachment Needed?</label>
        <locationX>529</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttachmentIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAttachmentIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDBAactive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_child_object_attachment_flow</targetReference>
            </connector>
            <label>Request Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>366</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachment_Needed</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>184</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationDbaID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNew</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions related to the creation/update of a registration manager</description>
    <interviewLabel>Registration DBA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration DBA Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_child_object_attachment_flow</name>
        <label>Run child object attachment flow</label>
        <locationX>790</locationX>
        <locationY>210</locationY>
        <flowName>Registration_Child_Object_Attachment_Request</flowName>
        <inputAssignments>
            <name>varAttachmentIdentifier</name>
            <value>
                <elementReference>varAttachmentIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDetail</name>
            <value>
                <elementReference>varAttachmentDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>DBA__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeparator</name>
            <value>
                <elementReference>varSeperator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceRecordID</name>
            <value>
                <elementReference>varRegistrationDbaID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>pass a configured value into this field that will show on the attachment name and instructions for the attachment</description>
        <name>varAttachmentDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttachmentIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Attachment is created only when DBA is active</description>
        <name>varDBAactive</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegistrationDbaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>separator character for the string of attachment identifiers</description>
        <name>varSeperator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
