force-app/main/default/flows/Registration_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Input_checks</name>
        <label>Input checks</label>
        <locationX>291</locationX>
        <locationY>427</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Person_or_Business</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtInputCheck</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>record_update_fault</name>
        <label>record update fault - error node 001</label>
        <locationX>1596</locationX>
        <locationY>157</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Error occured updating the business address details in Registration Account Flow - Error node 001</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>record_update_fault_0</name>
        <label>record update fault - error node 002</label>
        <locationX>1715</locationX>
        <locationY>797</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Error occured updating the person address details in Registration Account Flow - Error node 002</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>record_update_fault_0_0</name>
        <label>record update fault - error node 002</label>
        <locationX>1727</locationX>
        <locationY>955</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Error occured updating the person address details in Registration Account Flow - Error node 004</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>record_update_fault_0_0_0</name>
        <label>record update fault - error node 002</label>
        <locationX>1730</locationX>
        <locationY>1117</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Error occured updating the account lookup on registration account in Registration Account Flow - Error node 005</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>292</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>varRegAccountID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFEIN</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSEIN</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLegalEntityName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMailingSameAsPhysical</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaMailingSameAsResi</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhysicalCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResiCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMailingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress3</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZip</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsNew</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsPerson</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicantIsManager</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRequired</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicant_is_Manager_0_0</name>
        <label>Applicant is Manager</label>
        <locationX>1217</locationX>
        <locationY>1131</locationY>
        <defaultConnectorLabel>Not manager</defaultConnectorLabel>
        <rules>
            <name>Appilcant_manager_true_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantIsManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AccountOnly</targetReference>
            </connector>
            <label>Appilcant manager true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_inputs_valid</name>
        <label>Business inputs valid?</label>
        <locationX>1088</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Business Not valid</defaultConnectorLabel>
        <rules>
            <name>business_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFEIN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSEIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSEIN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLegalEntityName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLegalEntityName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_duplicate_business_account_alert_flow</targetReference>
            </connector>
            <label>business valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>736</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not new</defaultConnectorLabel>
        <rules>
            <name>new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_same_as_Physical</targetReference>
            </connector>
            <label>new</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew_0</name>
        <label>isNew</label>
        <locationX>642</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Update_Required_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not new</defaultConnectorLabel>
        <rules>
            <name>new_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_same_as_Resi</targetReference>
            </connector>
            <label>new</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_is_US</name>
        <label>Mailing is US</label>
        <locationX>1213</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Update_state_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not US</defaultConnectorLabel>
        <rules>
            <name>Mailing_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_is_Manager_0_0</targetReference>
            </connector>
            <label>Mailing US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_same_as_Physical</name>
        <label>Mailing same as Physical</label>
        <locationX>1091</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Business_inputs_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>different from physical</defaultConnectorLabel>
        <rules>
            <name>Same_as_Physical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMailingSameAsPhysical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_address</targetReference>
            </connector>
            <label>Same as Physical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mailing_same_as_Resi</name>
        <label>Mailing same as Resi</label>
        <locationX>1211</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Mailing_is_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>different from Resi</defaultConnectorLabel>
        <rules>
            <name>Same_as_Resi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaMailingSameAsResi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_address_0</targetReference>
            </connector>
            <label>Same as Resi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_or_Business</name>
        <label>Person or Business</label>
        <locationX>518</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>isNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsPerson</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNew_0</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Required</name>
        <label>Update Required</label>
        <locationX>740</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>No update</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_same_as_Physical</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Required_0</name>
        <label>Update Required</label>
        <locationX>769</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>No update</defaultConnectorLabel>
        <rules>
            <name>Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_same_as_Resi</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>valid_Inputs</name>
        <label>valid Inputs</label>
        <locationX>291</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>invalid</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_checks</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <description>Handles all actions related to registration accounts
- Updated state formulas to set states properly using the correct inputs</description>
    <formulas>
        <description>sets the mailing state based on the country</description>
        <name>flaMailingState</name>
        <dataType>String</dataType>
        <expression>IF ( 
{!varIsPerson} &amp;&amp; {!varCountry} == &apos;United States of America&apos; , {!varState} ,
IF ( 
!{!varIsPerson} &amp;&amp; {!varCountry} == &apos;United States of America&apos; , {!varState} , &apos;N/A&apos;) )</expression>
    </formulas>
    <formulas>
        <description>sets the state based on the country</description>
        <name>flaState</name>
        <dataType>String</dataType>
        <expression>IF ( 
{!varIsPerson} &amp;&amp; {!varCountry} == &apos;United States of America&apos; ,
{!varState} , 
IF ( !{!varIsPerson} &amp;&amp; {!varCountry} == &apos;United States of America&apos; , 
{!varState} , &apos;N/A&apos; )
)</expression>
    </formulas>
    <interviewLabel>Registration Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Account Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_AccountOnly</name>
        <label>Update account only</label>
        <locationX>1493</locationX>
        <locationY>1125</locationY>
        <faultConnector>
            <targetReference>record_update_fault_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varUserAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_address</name>
        <label>update address</label>
        <locationX>1370</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Business_inputs_valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>record_update_fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>varAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_3__c</field>
            <value>
                <elementReference>varAddress3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>flaMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>varAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Zip_Code__c</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Business_State__c</field>
            <value>
                <elementReference>flaState</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_address_0</name>
        <label>update address</label>
        <locationX>1486</locationX>
        <locationY>799</locationY>
        <faultConnector>
            <targetReference>record_update_fault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varUserAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>varAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_3__c</field>
            <value>
                <elementReference>varAddress3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>flaMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>varAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Zip_Code__c</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_State__c</field>
            <value>
                <elementReference>flaState</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_state_value</name>
        <label>Update state value</label>
        <locationX>1490</locationX>
        <locationY>958</locationY>
        <faultConnector>
            <targetReference>record_update_fault_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varUserAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>Registration_Account__c</object>
    </recordUpdates>
    <startElementReference>valid_Inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_duplicate_business_account_alert_flow</name>
        <label>Run duplicate business account alert flow</label>
        <locationX>1364</locationX>
        <locationY>306</locationY>
        <flowName>Duplicate_Business_Account_Alert</flowName>
        <inputAssignments>
            <name>var_FEIN</name>
            <value>
                <elementReference>varFEIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SEIN</name>
            <value>
                <elementReference>varSEIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Legal_Entity_Name</name>
            <value>
                <elementReference>varLegalEntityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserProfileType</name>
            <value>
                <elementReference>varUserType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RegAcct_ID</name>
            <value>
                <elementReference>varRegAccountID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>used for debugging the entire flow</description>
        <name>txtInputCheck</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Debugging registration account flow:
Country: {!varCountry}</text>
    </textTemplates>
    <variables>
        <name>vaMailingSameAsResi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddress3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantIsManager</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFEIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsPerson</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLegalEntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMailingSameAsPhysical</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhysicalCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResiCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSEIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account associated with the logged in user. Used to set the account when the logged on user is creating their own record as the manager</description>
        <name>varUserAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contact associated to the community user</description>
        <name>varUserContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
