force-app/main/default/flows/Registration_Education_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>325</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationEducationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3Pr00000000Frs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Rr00000005tWH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001r0000008GpMSAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicantEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>jeremy@vertiba.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>324</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_applicant_info</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_inputs</name>
        <label>Valid inputs</label>
        <locationX>325</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions for registration education</description>
    <interviewLabel>Registration Education Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Education Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_applicant_info</name>
        <label>Set applicant info</label>
        <locationX>555</locationX>
        <locationY>370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationEducationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>varApplicant</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Education__c</object>
    </recordUpdates>
    <startElementReference>Valid_inputs</startElementReference>
    <status>Active</status>
    <variables>
        <description>Applicant on the registration</description>
        <name>varApplicant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Email address of the applicant passed from PB</description>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed from PB indicating that the reg education record is new</description>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the registration education record that started the flow</description>
        <name>varRegistrationEducationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the registration that started the flow</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
