force-app/main/default/flows/Registration_Post_Approval_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Reminder_to_Applicant_to_Submit_Changes</name>
        <label>Email Reminder to Applicant to Submit Changes</label>
        <locationX>559</locationX>
        <locationY>345</locationY>
        <actionName>License_Registration__c.Application_Changes_Not_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_RegistrationID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>License_Registration__c.Application_Changes_Not_Submitted</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>188</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>var_RegistrationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Rr00000005tFE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StatusPRIORVALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserProfileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DateFirstApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateTimeValue>2018-01-11T03:18:00.000Z</dateTimeValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Post_Approval_Changes</name>
        <label>Post Approval Changes?</label>
        <locationX>377</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_StatusPRIORVALUE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_UserProfileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CspLitePortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DateFirstApproved</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_24_Hours</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs?</label>
        <locationX>189</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_valid_inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Approval_Changes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Changes to Registration after it&apos;s been approved.</description>
    <interviewLabel>Registration Post-Approval Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Post-Approval Changes</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_DateFirstApproved</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatusPRIORVALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_24_Hours</name>
        <label>Wait 24 Hours</label>
        <locationX>559</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Changes_without_Resubmission</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Email_Reminder_to_Applicant_to_Submit_Changes</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <label>Changes without Resubmission</label>
        </waitEvents>
    </waits>
</Flow>
