force-app/main/default/flows/Registration_60_day_renewal_email_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_60_day_renewal_notice</name>
        <label>Email 60-day renewal notice</label>
        <locationX>1260</locationX>
        <locationY>678</locationY>
        <actionName>License_Registration__c.X60_day_renewal_notice_for_different_license_types</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_60_day_flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>loop60dayRegistrationRenewal.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>License_Registration__c.X60_day_renewal_notice_for_different_license_types</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_record_to_60_day_reg_collection</name>
        <label>Add record to 60 day reg collection</label>
        <locationX>862</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>RegToUpdate60DayCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop60dayRegistrationRenewal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop60dayRegistrationRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_60_day_flag</name>
        <label>Update 60 day flag</label>
        <locationX>975</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>loop60dayRegistrationRenewal.X60dayEmailSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_60_day_reg_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_60_day_registration_renewal_has_community_user_and_email</name>
        <label>Check if 60-day registration renewal has community user and email</label>
        <locationX>921</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Email_60_day_renewal_notice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_60_day_registration_has_no_community_user_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop60dayRegistrationRenewal.Applicant__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop60dayRegistrationRenewal.Applicant__r.Email</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loop60dayRegistrationRenewal</targetReference>
            </connector>
            <label>The 60-day registration has no community user email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SixtyDaysFromTodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <interviewLabel>Registration 60-day renewal email notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration 60-day renewal email notification</label>
    <loops>
        <name>loop60dayRegistrationRenewal</name>
        <label>loop60dayRegistrationRenewal</label>
        <locationX>685</locationX>
        <locationY>672</locationY>
        <collectionReference>var60dayRegRenewal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_60_day_registration_renewal_has_community_user_and_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_60_day_renewal_registration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_registrations_that_are_ready_for_60_day_renewal</name>
        <label>Get all registrations that are ready for 60 day renewal</label>
        <locationX>487</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop60dayRegistrationRenewal</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SixtyDaysFromTodayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Entertainment_Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Permit_to_Employ_Minors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>License_Registration__c</object>
        <outputReference>var60dayRegRenewal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Applicant__c</queriedFields>
        <queriedFields>Applicant_s_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_60_day_renewal_registration</name>
        <label>Update all 60 day renewal registration</label>
        <locationX>592</locationX>
        <locationY>893</locationY>
        <inputReference>RegToUpdate60DayCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>117</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Get_all_registrations_that_are_ready_for_60_day_renewal</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-21</startDate>
            <startTime>06:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegToUpdate60DayCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Registration__c</objectType>
    </variables>
    <variables>
        <name>var60dayRegRenewal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Registration__c</objectType>
    </variables>
</Flow>
