force-app/main/default/flows/Registration_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Create_new_attachments_related_to_Registration_Locations</name>
        <label>Create new attachments related to Registration Locations</label>
        <locationX>768</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAL_GAR_registrations</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talent_Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Manufacturers_and_Contractors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Reg_Location_Flow_for_TAL_and_GAR</targetReference>
            </connector>
            <label>TAL, GAR registrations</label>
        </rules>
        <rules>
            <name>CAR_WASH_JAN_registrations</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car_Wash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Janitorial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Reg_Location_Flow_for_CW_and_JAN</targetReference>
            </connector>
            <label>CAR WASH, JAN registrations</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE ( {!$Record.Registration__r.Applicant__r.Email} , NULL )</expression>
    </formulas>
    <formulas>
        <name>varCountry</name>
        <dataType>String</dataType>
        <expression>IF ( ISPICKVAL( {!$Record.Country__c} , &apos;&apos;), NULL , TEXT({!$Record.Country__c}) )</expression>
    </formulas>
    <formulas>
        <name>varState</name>
        <dataType>String</dataType>
        <expression>IF ( ISPICKVAL ( {!$Record.State__c} , &apos;&apos;) , NULL , TEXT ( {!$Record.State__c}) )</expression>
    </formulas>
    <interviewLabel>Registration Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_new_attachments_related_to_Registration_Locations</targetReference>
        </connector>
        <object>Registration_Location__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Reg_Location_Flow_for_CW_and_JAN</name>
        <label>Run Reg Location Flow for CW and JAN</label>
        <locationX>1198</locationX>
        <locationY>472</locationY>
        <flowName>Registration_Location_Flow</flowName>
        <inputAssignments>
            <name>varApplicantEmail</name>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttachmentDetail</name>
            <value>
                <elementReference>$Record.DBA_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttachmentIdentifier</name>
            <value>
                <elementReference>$Record.Attachment_Identifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCountry</name>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsNew</name>
            <value>
                <elementReference>ISNEW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>$Record.Registration__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationLocationID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeparator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varState</name>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Reg_Location_Flow_for_TAL_and_GAR</name>
        <label>Run Reg Location Flow for TAL and GAR</label>
        <locationX>1198</locationX>
        <locationY>328</locationY>
        <flowName>Registration_Location_Flow</flowName>
        <inputAssignments>
            <name>varApplicantEmail</name>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttachmentDetail</name>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttachmentIdentifier</name>
            <value>
                <elementReference>$Record.Attachment_Identifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCountry</name>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDateDeactivated</name>
            <value>
                <elementReference>$Record.Date_Deactivated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsNew</name>
            <value>
                <elementReference>ISNEW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>$Record.Registration__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationLocationID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeparator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varState</name>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
