force-app/main/default/flows/Release_was_Performed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Ready_For_Closure_True</name>
        <label>Assign Ready For Closure True</label>
        <locationX>424</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>varSupportRequests.Ready_for_Closure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSupportRequests.Release_Activity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectUpdatedSRS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectUpdatedSRS</name>
        <label>CollectUpdatedSRS</label>
        <locationX>397</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedSRS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSupportRequests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Release_Status_Change</name>
        <label>Release Status Change</label>
        <locationX>158</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_to_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReleaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_all_of_the_Support_Requests</targetReference>
            </connector>
            <label>Status Changed to Released</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_the_Ready_for_Closure_Flag</name>
        <label>Update the Ready for Closure Flag</label>
        <locationX>385</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Support_Request_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportRequests.Add_to_a_Release__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReleaseID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ready_For_Closure_True</targetReference>
            </connector>
            <label>If Support Request Found</label>
        </rules>
    </decisions>
    <interviewLabel>Release was Performed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release was Performed</label>
    <loops>
        <name>Loop_through_Collection_Variable</name>
        <label>Loop through Collection Variable</label>
        <locationX>153</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>varSupportRequests</assignNextValueToReference>
        <collectionReference>collectionofSR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_the_Ready_for_Closure_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Support_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_of_the_Support_Requests</name>
        <label>Lookup all of the Support Requests</label>
        <locationX>156</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_to_a_Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReleaseID</elementReference>
            </value>
        </filters>
        <object>Support_Request__c</object>
        <outputReference>collectionofSR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ready_for_Closure__c</queriedFields>
        <queriedFields>Add_to_a_Release__c</queriedFields>
        <queriedFields>Release_Activity_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Support_Requests</name>
        <label>Update All Support Requests</label>
        <locationX>141</locationX>
        <locationY>689</locationY>
        <inputReference>varUpdatedSRS</inputReference>
    </recordUpdates>
    <startElementReference>Release_Status_Change</startElementReference>
    <status>Active</status>
    <variables>
        <name>collectionofSR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Support_Request__c</objectType>
    </variables>
    <variables>
        <name>ReleaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSupportRequests</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Support_Request__c</objectType>
    </variables>
    <variables>
        <name>varUpdatedSRS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Support_Request__c</objectType>
    </variables>
</Flow>
