force-app/main/default/flows/Sandbox_for_Wage_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval_Wage</name>
        <label>Submit for Approval Wage</label>
        <locationX>38</locationX>
        <locationY>746</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ReportOfLaborLawViolationID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Person_Account_Created_True</name>
        <label>Person Account Created True</label>
        <locationX>661</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>PersonAccountCreatedBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reporting_Party_Account_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setWCID</name>
        <label>setWCID</label>
        <locationX>502</locationX>
        <locationY>16</locationY>
        <assignmentItems>
            <assignToReference>WageClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0fZ0000002DBkD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005d0000003YXi1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WageClaimIDPassed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Filed_for_Bankruptcy</name>
        <choiceText>Filed for Bankruptcy</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_of_These_Create_new_Reporting_Party</name>
        <choiceText>None of These (Create new Reporting Party)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>Static Text, State of California, Department of Industrial Relaions</description>
        <name>F0002</name>
        <dataType>String</dataType>
        <value>
            <stringValue>State of California, Department of Industrial Relations</stringValue>
        </value>
    </constants>
    <constants>
        <description>Static Text, Division of Labor Standard Enforcement</description>
        <name>F0003</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Division of Labor Standards Enforcement</stringValue>
        </value>
    </constants>
    <constants>
        <description>Static Text, CASE REFERRAL TO BUREAU OF FIELD ENFORCEMENT</description>
        <name>F0004</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CASE REFERRAL to BUREAU OF FIELD ENFORCEMENT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Static Text - BR13 - 322</description>
        <name>F0005</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BR13 - 322</stringValue>
        </value>
    </constants>
    <constants>
        <description>Static Text, BOFE Deputy will access the WCA Case for F1s</description>
        <name>F0011</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BOFE Deputy will access the WCA Case for F1s.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Incomplete_Business_Address_Data_Error_Path</name>
        <label>Incomplete Business Address Data Error Path</label>
        <locationX>1208</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>Select_Reporting_Party_wage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Incomplete_Business_Address_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EmployerRecord.BillingAddress</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>IncompleteDataEmployerAdvocate</targetReference>
            </connector>
            <label>Incomplete Business Address Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Defendant_or_Claimant_Decision</name>
        <label>No Defendant or Claimant Decision</label>
        <locationX>1035</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Lookup_Employer_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Defendent and Claimant On Wage Claim</defaultConnectorLabel>
        <rules>
            <name>Defendant_or_Claimant_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DefendantAccountID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefendantAccountID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ReportingPartyContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReportingPartyContactID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>NoClaimantorDefendantError</targetReference>
            </connector>
            <label>Defendant or Claimant Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Orphaned_Contact</name>
        <label>Orphaned Contact</label>
        <locationX>889</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Orphaned_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Orphaned Account</defaultConnectorLabel>
        <rules>
            <name>Account_Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReportingPartyContactAccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReportingPartyContactAccountID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Claimant_Advocate</targetReference>
            </connector>
            <label>Account Located</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Reporting_Party</name>
        <label>Selected Reporting Party?</label>
        <locationX>674</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>Create_New_Report_of_Labor_Law_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reporting Party Lookedup</defaultConnectorLabel>
        <rules>
            <name>Create_New_Reporting_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_Party_Lookup_wage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_of_These_Create_new_Reporting_Party</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Account_Created_True</targetReference>
            </connector>
            <label>Create New Reporting Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Senior_Deputy_Labor_Commissioner_Check</name>
        <label>Senior Deputy Labor Commissioner Check</label>
        <locationX>799</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Lookup_Claimant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Values Set</defaultConnectorLabel>
        <rules>
            <name>Senior_Deputy_Labor_Commissioner_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WageClaimSeniorWCADeputy</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>WageClaimSeniorWCADeputy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoClaimantorDefendantError_0</targetReference>
            </connector>
            <label>Senior Deputy Labor Commissioner Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>WageClaimIDPassed</name>
        <label>WageClaimIDPassed</label>
        <locationX>688</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Flow_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>WageClaimID_Has_Been_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WageClaimId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>WageClaimId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Wage_Claim</targetReference>
            </connector>
            <label>WageClaimID Has Been Passed</label>
        </rules>
    </decisions>
    <description>Facilitates the referral of wage claims to BOFE for pursuit.</description>
    <dynamicChoiceSets>
        <name>LookupReportingPartyWage</name>
        <dataType>String</dataType>
        <displayField>Account_Metadata__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportingPartyContactFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportingPartyContactLastName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ReportingPartyAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>F0006, Date of Referral</description>
        <name>F0006DateofReferral</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <description>Concatenation of the First and Last Names</description>
        <name>NameOfReportingParty</name>
        <dataType>String</dataType>
        <expression>{!ReportingPartyContactFirstName} + &quot; &quot; + {!ReportingPartyContactLastName}</expression>
    </formulas>
    <interviewLabel>Wage Claim Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wage Claim Referral</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reporting_Party_Account_Record_0</name>
        <label>Create Reporting Party Account Record</label>
        <locationX>472</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>ReportingPartyAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Report_of_Labor_Law_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ReportingPartyContactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ReportingPartyContactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>ReportingPartyContactHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>ReportingPartyContactMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>ReportingPartyContactMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>ReportingPartyContactMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>ReportingPartyContactMailingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012d0000000PB6J</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Employer_Account</name>
        <label>Get Employer Account</label>
        <locationX>1207</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incomplete_Business_Address_Data_Error_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefendantAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>EmployerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reporting_Party_Contact_Record</name>
        <label>Get Reporting Party Contact Record</label>
        <locationX>232</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportingPartyContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ReportingPartyContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_BOFE_Office_ID</name>
        <label>Lookup BOFE Office ID</label>
        <locationX>1245</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_BOFE_Office_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BOFE_Office_ID_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimOffice</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBOFEOfficeID</assignToReference>
            <field>BOFE_Office__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_BOFE_Office_Location</name>
        <label>Lookup BOFE Office Location</label>
        <locationX>599</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Senior_Deputy_Labor_Commissioner_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BOFE_Office_Location_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBOFEOfficeID</elementReference>
            </value>
        </filters>
        <object>Office__c</object>
        <outputAssignments>
            <assignToReference>varOfficeLocation</assignToReference>
            <field>Office_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Claimant</name>
        <label>Lookup Claimant</label>
        <locationX>980</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Reporting_Party_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wage_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </filters>
        <object>Wage_Claim_Party__c</object>
        <outputAssignments>
            <assignToReference>ReportingPartyContactID</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Claimant_Advocate</name>
        <label>Lookup Claimant Advocate</label>
        <locationX>1127</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Claimant_Advocate_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claimant Advocate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wage_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </filters>
        <object>Wage_Claim_Party__c</object>
        <outputAssignments>
            <assignToReference>ClaimantAdvocateId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Claimant_Advocate_Record</name>
        <label>Lookup Claimant Advocate Record</label>
        <locationX>1405</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Passed_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimantAdvocateId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AdvocateAddress</assignToReference>
            <field>BillingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvocateCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvocatePostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvocateState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvocateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdvocatePhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Defendant</name>
        <label>Lookup Defendant</label>
        <locationX>1030</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Defendant_or_Claimant_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Defendant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wage_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </filters>
        <object>Wage_Claim_Party__c</object>
        <outputAssignments>
            <assignToReference>DefendantAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DefendantID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Employer_Account</name>
        <label>Lookup Employer Account</label>
        <locationX>1043</locationX>
        <locationY>807</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Reporting_Party_wage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefendantAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>EmployerEntityType</assignToReference>
            <field>Entity_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerAddress</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployerBillingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Reporting_Party_Contact</name>
        <label>Lookup Reporting Party Contact</label>
        <locationX>689</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orphaned_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportingPartyContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ReportingPartyContactAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactHomePhone</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactMailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactMailingPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactMailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactMailingAddress</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyContactMobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SObject_Claimant_Advocate</name>
        <label>Lookup SObject Claimant Advocate</label>
        <locationX>34</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimantAdvocateId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Advocate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Wage_Claim</name>
        <label>Lookup Wage Claim</label>
        <locationX>880</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_BOFE_Office_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </filters>
        <object>Wage_Claim__c</object>
        <outputAssignments>
            <assignToReference>WageClaimOffice</assignToReference>
            <field>Office__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WageClaimSeniorWCADeputy</assignToReference>
            <field>Senior_Deputy_Labor_Commissioner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Passed_User</name>
        <label>Passed User</label>
        <locationX>1018</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Defendant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Reporting_Party_Lookup</name>
        <label>Reporting Party Lookup</label>
        <locationX>458</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReportingPartyAccountTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportingPartyAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Wage_Claim</name>
        <label>Wage Claim</label>
        <locationX>72</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </filters>
        <object>Wage_Claim__c</object>
        <outputReference>WageClaim</outputReference>
        <queriedFields>Office__c</queriedFields>
        <queriedFields>Senior_Deputy_Labor_Commissioner__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_RLLV_Variables_Before_Submitting_for_Approval</name>
        <label>Set RLLV Variables Before Submitting for Approval</label>
        <locationX>189</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Submit_for_Approval_Wage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportOfLaborLawViolationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Comments_from_WCA_Deputy__c</field>
            <value>
                <elementReference>Additional_Comments_from_WCA_Deputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Needed__c</field>
            <value>
                <stringValue>Wage Sr. Deputy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimant_Represented_by_Advocated__c</field>
            <value>
                <elementReference>Claimant_Represented_by_Advocate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimant_Requesting_Stay_of_Wage_Claims__c</field>
            <value>
                <elementReference>Claimant_Requesting_Stay_of_Wage_Claims</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Referral__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deputy_Making_Referral__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer_Still_in_Business__c</field>
            <value>
                <elementReference>Employer_Still_In_Business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Office__c</field>
            <value>
                <elementReference>WageClaimOffice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WCA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCA_Senior_Deputy__c</field>
            <value>
                <elementReference>WageClaimSeniorWCADeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wage_Claim__c</field>
            <value>
                <elementReference>WageClaimId</elementReference>
            </value>
        </inputAssignments>
        <object>Report_of_Labor_Code_Violation__c</object>
    </recordUpdates>
    <screens>
        <name>Additional_Wage_Referral_Questions</name>
        <label>Additional Wage Referral Questions</label>
        <locationX>320</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_RLLV_Variables_Before_Submitting_for_Approval</targetReference>
        </connector>
        <fields>
            <name>Employer_Still_In_Business</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Filed_for_Bankruptcy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employer Still In Business?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claimant_Represented_by_Advocate</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claimant Represented by Advocate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claimant_Requesting_Stay_of_Wage_Claims</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claimant Requesting Stay of Wage Claims?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments_from_WCA_Deputy</name>
            <fieldText>Additional Comments from WCA Deputy</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOFE_Office_ID_Exception</name>
        <label>BOFE Office ID Exception</label>
        <locationX>1455</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BofeOfficeIDExceptionText</name>
            <fieldText>An Error has Occured.  Please contact your System Administrator.  Most likely the Wage Office Account Record does not reference a BOFE Office Record for automatic assignment of this Wage Referral to an Office.

varBOFEOfficeID: {!varBOFEOfficeID}

Error Message: {!$Flow.FaultMessage}

The offending Account Office Record Is: {!WageClaimOffice}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOFE_Office_Location_Exception</name>
        <label>BOFE Office Location Exception</label>
        <locationX>424</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BofeOfficeLocationExceptionText</name>
            <fieldText>An Error has Occured.  Please contact your System Administrator.  Most likely the BOFE Office Record does not reference have an Office Location Specificed for automatic assignment of this Wage Referral to an Office.

varBOFEOfficeID: {!varBOFEOfficeID}

Error Message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOFE_Office_Lookup_Debug</name>
        <label>BOFE Office Lookup Debug</label>
        <locationX>529</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Senior_Deputy_Labor_Commissioner_Check</targetReference>
        </connector>
        <fields>
            <name>WageClaimLookupDebugText_0</name>
            <fieldText>varOfficeLocation: {!varOfficeLocation}
varBOFEOfficeId: {!varBOFEOfficeID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Data_Test</name>
        <label>Contact Data Test</label>
        <locationX>1156</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Claimant_Advocate</targetReference>
        </connector>
        <fields>
            <name>ContactDataLookupDisplay</name>
            <fieldText>Contact last name: {!ReportingPartyContactLastName}
Contact First name: {!ReportingPartyContactFirstName}
Contact Account: {!ReportingPartyAccountID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Reporting_PartyScreen_0</name>
        <label>Create Reporting PartyScreen</label>
        <locationX>527</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Report_of_Labor_Law_Violation</targetReference>
        </connector>
        <fields>
            <name>CreateReportingPartyPath_0</name>
            <fieldText>Create Reporting Party

FirstName: {!ReportingPartyContactFirstName}
LastName: {!ReportingPartyContactLastName}
PersonHomePhone: {!ReportingPartyContactHomePhone}
PersonMailingCity: {!ReportingPartyContactMailingCity}
PersonMailingPostalCode: {!ReportingPartyContactMailingPostalCode}
PersonMailingState: {!ReportingPartyContactMailingState}
PersonMailingStreet: {!ReportingPartyContactMailingAddress}


ReportingPartyAccountID: {!ReportingPartyAccountID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DefendantLookupTest</name>
        <label>DefendantLookupTest</label>
        <locationX>1368</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employer_Account</targetReference>
        </connector>
        <fields>
            <name>DefendantLookupDebug</name>
            <fieldText>DefendantID: {!DefendantID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employer_Debug</name>
        <label>Employer Debug</label>
        <locationX>903</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Reporting_Party_wage</targetReference>
        </connector>
        <fields>
            <name>EmployerInfoDisplay</name>
            <fieldText>EmployerRecord: {!EmployerRecord}
EmployerRecordID: {!EmployerRecord.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>191</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowError</name>
            <fieldText>Sorry an Error occurred. The cause of the Error is {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Found_User</name>
        <label>Found User</label>
        <locationX>1184</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Defendant</targetReference>
        </connector>
        <fields>
            <name>FoundUser</name>
            <fieldText>User Id: {!UserID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncompleteDataEmployerAdvocate</name>
        <label>IncompleteDataEmployerAdvocate</label>
        <locationX>1435</locationX>
        <locationY>1024</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDefendantAddress</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Defendant linked on this Wage Claim has no Street address associated with the account record.  In order to refer this Wage Claim, please correct the data on the Defendant Record and resubmit.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoClaimantorDefendantError</name>
        <label>NoClaimantorDefendantError</label>
        <locationX>1359</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoClaimantorDefendantSpecified</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The wage claim that you are attempting to refer has either no Claimant or no Defendant specified.  Please correct the data on the Wage Claim and try again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoClaimantorDefendantError_0</name>
        <label>Senior_Deputy_Labor_Commissioner__c</label>
        <locationX>1381</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSeniorLaborCommissionerSet</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The wage claim that you are attempting to refer does not have the Senior Deputy Labor Commissioner set.   Please correct the data and try again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Orphaned_Account</name>
        <label>Orphaned Account</label>
        <locationX>1025</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrphanedAccountDisplay</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Orphaned Contact&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The wage claimant is not associated to an account, so this claimant cannot be used ast a reporting party at this time. Please contact your system administrator for assistance in correcting the data associated with this claimant&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReportingPartyAccountTest</name>
        <label>ReportingPartyAccountTest</label>
        <locationX>450</locationX>
        <locationY>927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Report_of_Labor_Law_Violation</targetReference>
        </connector>
        <fields>
            <name>ReportingPartyAccountDebug</name>
            <fieldText>ReportingPartyAccountID: {!ReportingPartyAccountID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReportingPartyContactTest</name>
        <label>ReportingPartyContactTest</label>
        <locationX>1328</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Passed_User</targetReference>
        </connector>
        <fields>
            <name>Variables</name>
            <fieldText>Reporting Party Contact ID: {!ReportingPartyContactID}

ReportingPartyContactRecord: {!Get_Reporting_Party_Contact_Record}

Firstname: {!ReportingPartyContact.FirstName}
LastName: {!ReportingPartyContact.LastName}
Mailingstreet: {!ReportingPartyContact.MailingStreet}
MailingCity: {!ReportingPartyContact.MailingCity}
mailingState: {!ReportingPartyContact.MailingState}
Postalcode: {!ReportingPartyContact.MailingPostalCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Performs lookup of reporting party for wage claim referrals</description>
        <name>Select_Reporting_Party_wage</name>
        <label>Select Reporting Party</label>
        <locationX>805</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Reporting_Party</targetReference>
        </connector>
        <fields>
            <name>SelectReportingPartyTextWage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Reporting Party&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_Party_Lookup_wage</name>
            <choiceReferences>LookupReportingPartyWage</choiceReferences>
            <choiceReferences>None_of_These_Create_new_Reporting_Party</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reporting Party Lookup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestAdvocateInfo</name>
        <label>Test Advocate Info</label>
        <locationX>1369</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Claimant_Advocate_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayAdvocateInfo</name>
            <fieldText>Advocate: {!ClaimantAdvocateId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You!</label>
        <locationX>25</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>Thank you for referring this employer to BOFE.

The Senior Wage Deputy has received the approval for this referral, and once approved, will be forwarded to BOFE.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wage_claim_FL_test</name>
        <label>Wage claim FL test</label>
        <locationX>1195</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Claimant</targetReference>
        </connector>
        <fields>
            <name>DisplayWCLookupValue</name>
            <fieldText>wage claim ID: {!WageClaimId}

WageClaim: {!Wage_Claim}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wage_Claim_Lookup_Debug</name>
        <label>Wage Claim Lookup Debug</label>
        <locationX>1041</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_BOFE_Office_ID</targetReference>
        </connector>
        <fields>
            <name>WageClaimLookupDebugText</name>
            <fieldText>WageClaimID: {!WageClaimId}
WageClaimOffice: {!WageClaimOffice}
WageClaimSeniorWCADeputy: {!WageClaimSeniorWCADeputy}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>WageClaimIDPassed</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Create_New_Report_of_Labor_Law_Violation</name>
        <label>Create New Report of Labor Law Violation</label>
        <locationX>454</locationX>
        <locationY>787</locationY>
        <connector>
            <targetReference>Additional_Wage_Referral_Questions</targetReference>
        </connector>
        <flowName>Internal_Report_of_Labor_Code_Violation_Entry_Flow</flowName>
        <inputAssignments>
            <name>EmployerID</name>
            <value>
                <elementReference>DefendantAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reporting_Party_ID</name>
            <value>
                <elementReference>ReportingPartyAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>method</name>
            <value>
                <stringValue>wage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Advocate_ID</name>
            <value>
                <elementReference>ClaimantAdvocateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBOFEOfficeID</name>
            <value>
                <elementReference>varBOFEOfficeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOfficeLocation</name>
            <value>
                <elementReference>varOfficeLocation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DIR_Case_ID</assignToReference>
            <name>DIR_Case_Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportOfLaborLawViolationID</assignToReference>
            <name>ReportofLaborCodeViolationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReportingPartyId</assignToReference>
            <name>Reporting_Party_ID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Stores the Account Id</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountorEmployerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Advocate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AdvocateAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvocateCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Advocate Name</description>
        <name>AdvocateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvocatePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvocatePostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvocateState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Claimant Advocate ID. Emp</description>
        <name>ClaimantAdvocateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Claimant Advocate Reporting Party ID</description>
        <name>ClaimantAdvocateReportingPartyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The account ID from a defendant record on a wage claim</description>
        <name>DefendantAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefendantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeputyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeputyNamevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DIR_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DIRCASEIDvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployerAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerEntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>F0008. Passes the ID of the deputy making the referral in order to populate into the RLLV</description>
        <name>F0008Idofdeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>F0009. Stores the ID of WCA Senior for future lookup to the appropriate user</description>
        <name>F0009Idofwcasenior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>F0010 - Takes the number of Wage Claims against the emplouer and passes it forward.</description>
        <name>F0010WageClaims</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Estimated Total Number of Employees to be picked up from Wage or Account</description>
        <name>F0012</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <description>Is the Employer Still in business</description>
        <name>F0013Employerstillinbusiness</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonAccountCreatedBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Account ID for the Reporting Party that is created from the Contact Claimant tied to the Wage Claim</description>
        <name>ReportingPartyAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReportingPartyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Holds account ID of contact looked up on claimaint</description>
        <name>ReportingPartyContactAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ReportingPartyContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact First Name</description>
        <name>ReportingPartyContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Reporting Party Contact Home Phone</description>
        <name>ReportingPartyContactHomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReportingPartyContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Last Name</description>
        <name>ReportingPartyContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Mailing Address</description>
        <name>ReportingPartyContactMailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Mailing City</description>
        <name>ReportingPartyContactMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Mailing Postal Code</description>
        <name>ReportingPartyContactMailingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Mailing State</description>
        <name>ReportingPartyContactMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reporting Party Contact Mobile</description>
        <name>ReportingPartyContactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReportingPartyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReportOfLaborLawViolationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID for the RLLV</description>
        <name>RLLVID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Gets the current UserID from the querystring</description>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Office ID of the BOFE Office tied to the WCA Office (Lookup on Account to BOFE Office Field0</description>
        <name>varBOFEOfficeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Office Location Picklist from the Office record</description>
        <name>varOfficeLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Wage Claim SObject</description>
        <name>WageClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wage_Claim__c</objectType>
    </variables>
    <variables>
        <description>Passed in wage claim ID</description>
        <name>WageClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WageClaimOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wage claim parties associated with the wage claim</description>
        <name>WageClaimParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wage_Claim_Party__c</objectType>
    </variables>
    <variables>
        <description>Individual wage claim party used in the WageClaimParties lookup</description>
        <name>WageClaimParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wage_Claim_Party__c</objectType>
    </variables>
    <variables>
        <name>WageClaimSeniorWCADeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
