force-app/main/default/flows/Settlements_Update_Liability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Has_needed_IDs</name>
        <label>Has needed IDs</label>
        <locationX>280</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Settlement_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Settlement_Parties</targetReference>
            </connector>
            <label>Has Settlement ID</label>
        </rules>
    </decisions>
    <interviewLabel>Settlements - Update Liable Parties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Settlements - Update Liable Parties</label>
    <loops>
        <name>Loop_Through_Settling_Parties</name>
        <label>Loop Through Settling Parties</label>
        <locationX>278</locationX>
        <locationY>352</locationY>
        <assignNextValueToReference>vSettlingParty</assignNextValueToReference>
        <collectionReference>vSettlingParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Liable_Party</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Settlement_Parties</name>
        <label>Get Settlement Parties</label>
        <locationX>279</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Settling_Parties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Settlement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SettlementId</elementReference>
            </value>
        </filters>
        <object>Settling_Parties__c</object>
        <outputReference>vSettlingParties</outputReference>
        <queriedFields>Liable_Party__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Liable_Party</name>
        <label>Update Liable Party</label>
        <locationX>305</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Loop_Through_Settling_Parties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSettlingParty.Liable_Party__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <object>Liable_Party__c</object>
    </recordUpdates>
    <screens>
        <name>Records_Updated</name>
        <label>Records Updated</label>
        <locationX>546</locationX>
        <locationY>359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Liable Parties have been updated.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can close this window.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Has_needed_IDs</startElementReference>
    <status>Active</status>
    <variables>
        <name>Collection_liablities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LiablityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SettlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSettlingParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settling_Parties__c</objectType>
    </variables>
    <variables>
        <name>vSettlingParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settling_Parties__c</objectType>
    </variables>
</Flow>
