force-app/main/default/flows/Update_Assigned_Deputy_on_Writ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Updated the label of the last action to correctly reflect its action.</description>
    <interviewLabel>Update Assigned Deputy on Writ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assigned Deputy on Writ</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Management_Assigned_Deputy_Lookup</name>
        <label>Case Management Assigned Deputy Lookup</label>
        <locationX>258</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_ID_Record_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDIRCaseManagementID</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>varDIRCaseAssignedDeputy</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_ID_Record_Lookup</name>
        <label>User ID Record Lookup</label>
        <locationX>260</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Assigned_Deputy_on_Writ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDIRCaseAssignedDeputy</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>varAssignedDeputyUserID</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Assigned_Deputy_on_Writ</name>
        <label>Update Case Assigned Deputy on Writ</label>
        <locationX>258</locationX>
        <locationY>294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWritID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Assigned_Deputy__c</field>
            <value>
                <elementReference>varAssignedDeputyUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Writ__c</object>
    </recordUpdates>
    <startElementReference>Case_Management_Assigned_Deputy_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAssignedDeputyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDIRCaseAssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDIRCaseManagementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWritID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
