force-app/main/default/flows/Update_e_Sign_Documents_on_Case_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Action_to_Count_Selected_Defendants</name>
        <label>Call Action to Count Selected Defendants</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <actionName>OWCESignFlowActionToCountDefIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Selected_Documents</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>defendantIds</name>
            <value>
                <elementReference>SelectedDefendants</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OWCESignFlowActionToCountDefIds</nameSegment>
        <outputParameters>
            <assignToReference>SelectDefendantsCount</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Call_Action_to_Update_Documents_Name</name>
        <label>Call Action to Update Documents Name</label>
        <locationX>710</locationX>
        <locationY>2582</locationY>
        <actionName>OWCESignFlowActionToUpdateDocsName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Selected_Documents</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>selectedDefendantsAndDocuments</name>
            <value>
                <elementReference>selectedDefendantsAndDocuments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OWCESignFlowActionToUpdateDocsName</nameSegment>
        <outputParameters>
            <assignToReference>UpdatedDocumentNames</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>All_Selected_Defendants</name>
        <label>All Selected Defendants</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SelectedDefendants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Defendants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Defendants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Selected_Documents_0_0_0_0</name>
        <label>All Selected Documents</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Selected_Documents</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Settlement_document_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedDocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Settlement_document_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_Documents_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Selected_Documents_0_0_0_0_0</name>
        <label>All Selected Documents</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Selected_Documents</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Complaint_document_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedDocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Complaint_document_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_Documents_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Selected_Documents_0_0_0_0_0_0</name>
        <label>All Selected Documents</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Selected_Documents</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Claim_Release_document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedDocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Claim_Release_document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Action_to_Update_Documents_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Complaint_633_055</name>
        <choiceText>633 055 - Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DIRCase- 633 055</stringValue>
        </value>
    </choices>
    <choices>
        <name>RELEASE_WCA_023</name>
        <choiceText>RELEASE- WCA 023</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RELEASE- WCA 023</stringValue>
        </value>
    </choices>
    <choices>
        <name>SETTLEMENT_WCA_026A</name>
        <choiceText>SETTLEMENT- WCA 026A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SETTLEMENT- WCA 026A-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>SETTLEMENT_WCA_026B</name>
        <choiceText>SETTLEMENT- WCA 026B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SETTLEMENT- WCA 026B-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>SETTLEMENT_WCA_026C</name>
        <choiceText>SETTLEMENT- WCA 026C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SETTLEMENT- WCA 026C-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>WCA_055_Complaint</name>
        <choiceText>WCA 055 - Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DIRCase- WCA 055</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Defendant_Phone_and_Email_are_Empty</name>
        <label>Check if Defendant Phone and Email are Empty</label>
        <locationX>512</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Call_Action_to_Count_Selected_Defendants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_both_Email_and_Phone_are_empty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Defendants.Entity__r.Signer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Defendants.Entity__r.Signer_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Defendant_Error</targetReference>
            </connector>
            <label>If both Email and Phone are empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_and_Email_are_Empty</name>
        <label>Check if Phone and Email are Empty</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_both_Email_and_Phone_are_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Claimant.Entity__r.Signer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Claimant.Entity__r.Signer_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Claimant_Error</targetReference>
            </connector>
            <label>If both Email and Phone are empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Defendant</name>
        <label>Check Selected Defendant</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Defendants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Selected_Defendants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Defendants</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Selected_Defendants</targetReference>
            </connector>
            <label>Check Selected Defendants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Documents</name>
        <label>Check Selected Documents</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Check_Selected_Documents_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Settlement_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Settlement_document_s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Selected_Documents_0_0_0_0</targetReference>
            </connector>
            <label>Check Settlement Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Documents_0</name>
        <label>Check Selected Documents</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Check_Selected_Documents_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Complaint_Documents_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_document_s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Selected_Documents_0_0_0_0_0</targetReference>
            </connector>
            <label>Check Complaint Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Documents_0_0</name>
        <label>Check Selected Documents</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Call_Action_to_Update_Documents_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Release_Document_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_Release_document</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Selected_Documents_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Check Release Document</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Defendants</name>
        <collectionReference>Get_All_Defendants</collectionReference>
        <dataType>String</dataType>
        <displayField>Account_Name_with_Role_Type__c</displayField>
        <object>Case_Role__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormattedDefendants</name>
        <dataType>String</dataType>
        <expression>&quot;(&apos;&quot; &amp; SUBSTITUTE({!SelectedDefendants},&quot;;&quot;,&quot;&apos;,&apos;&quot;) &amp; &quot;&apos;)&quot;</expression>
    </formulas>
    <formulas>
        <name>selectedDefendantsAndDocuments</name>
        <dataType>String</dataType>
        <expression>TEXT({!SelectDefendantsCount}) &amp; &apos;/&apos; &amp; {!SelectedDocumentNames}</expression>
    </formulas>
    <interviewLabel>Update e-Sign Documents on Case Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update e-Sign Documents on Case Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Defendants</name>
        <label>Get All Defendants</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Defendants_for_e_Signature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Defendant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimant</name>
        <label>Get Claimant</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Phone_and_Email_are_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Claimant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Defendants</name>
        <label>Get Selected Defendants</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Defendant_Phone_and_Email_are_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1635000001oIxWAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Management</name>
        <label>Update Case Management</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Select_Documents_for_eSignature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>e_Sign_Documents__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Defendants_for_e_Sign__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>e_Sign_Documents__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Documents</name>
        <label>Update Selected Documents on Case Management</label>
        <locationX>710</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Docgen_Package_preview_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selected_Defendants_for_e_Sign__c</field>
            <value>
                <elementReference>FormattedDefendants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>e_Sign_Documents__c</field>
            <value>
                <elementReference>UpdatedDocumentNames</elementReference>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Claimant_Error</name>
        <label>Display Claimant Error</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Claimant_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please make sure if &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_Claimant.Account_Name_with_Role_Type__c}&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; has either an Email or Phone to proceed this flow&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Defendant_Error</name>
        <label>Display Defendant Error</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Defendant_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please make sure if Selected Defendant has either an Email or Phone to proceed this flow&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Docgen_Package_preview_0_0_0</name>
        <label>Docgen Package preview</label>
        <locationX>710</locationX>
        <locationY>2822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DocgenPackage_0_0_0</name>
            <extensionName>Loop:RunDocGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ddpId</name>
                <value>
                    <stringValue>a0G35000004JgpnEAC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Defendants_for_e_Signature</name>
        <label>Select Defendants for e-Signature</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Defendant</targetReference>
        </connector>
        <fields>
            <name>selectedClaimant</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A Default Claimant is auto-selected.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_Defendants</name>
            <choiceReferences>Defendants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Defendants</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Documents_for_eSignature</name>
        <label>Select Documents for eSignature</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Defendants</targetReference>
        </connector>
        <fields>
            <name>Settlement_document_s</name>
            <choiceReferences>SETTLEMENT_WCA_026A</choiceReferences>
            <choiceReferences>SETTLEMENT_WCA_026B</choiceReferences>
            <choiceReferences>SETTLEMENT_WCA_026C</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Settlement document(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complaint_document_s</name>
            <choiceReferences>Complaint_633_055</choiceReferences>
            <choiceReferences>WCA_055_Complaint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint document(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Release_document</name>
            <choiceReferences>RELEASE_WCA_023</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claim Release document:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Claimant</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectDefendantsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Documents</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDefendants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDocumentNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedDocumentNames</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
