force-app/main/default/flows/Use_PAGA_Case_to_find_BOFE_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_AccountSObject</name>
        <label>Check AccountSObject</label>
        <locationX>51</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_ID_object_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSObject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_BOFE_Case</targetReference>
            </connector>
            <label>Account ID object is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BOFE_case</name>
        <label>Check BOFE case</label>
        <locationX>500</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOFE_Case_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOFECaseSObject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_PAGA_Case</targetReference>
            </connector>
            <label>BOFE Case is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Sobject_for_paga_case</name>
        <label>check Sobject for paga case</label>
        <locationX>47</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ID_for_SObject_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PAGACaseSObject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Detail_from_PAGA_CASE</targetReference>
            </connector>
            <label>ID for SObject is not null</label>
        </rules>
    </decisions>
    <description>9-1: Setting status at end.</description>
    <formulas>
        <name>PAGACaseShortID</name>
        <dataType>String</dataType>
        <expression>LEFT({!PAGACaseSObject.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>ShortAccountIDfromAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountSObject.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>ShortAccountIDfromPAGACASE</name>
        <dataType>String</dataType>
        <expression>LEFT({!PAGACaseSObject.Employer__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>ShortBOFECASEID</name>
        <dataType>String</dataType>
        <expression>LEFT({!BOFECaseSObject.Id}, 15)</expression>
    </formulas>
    <interviewLabel>Use PAGA Case to find BOFE Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Use PAGA Case to find BOFE Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_Originating_Case_which_is_a_PAGA_Case</name>
        <label>Look up Originating Case which is a PAGA Case</label>
        <locationX>47</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Sobject_for_paga_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalPAGACaseID</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Address_Primary_Street__c</assignToReference>
            <field>Address_Primary_Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Address_Primary_Zip__c</assignToReference>
            <field>Address_Primary_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Employer_Name_in_Text__c</assignToReference>
            <field>Employer_Name_in_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Employer__c</assignToReference>
            <field>Employer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Related_BOFE_Case__c</assignToReference>
            <field>Related_BOFE_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAGACaseSObject.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Detail_from_PAGA_CASE</name>
        <label>Lookup Account Detail from PAGA CASE</label>
        <locationX>39</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AccountSObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PAGACaseSObject.Employer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountSObject.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_BOFE_Case</name>
        <label>Lookup BOFE Case</label>
        <locationX>278</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BOFE_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShortAccountIDfromAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PAGACaseSObject.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BOFE</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>BOFECaseSObject.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_PAGA_Case</name>
        <label>Update Original PAGA Case</label>
        <locationX>682</locationX>
        <locationY>269</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PAGACaseSObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_BOFE_Case__c</field>
            <value>
                <elementReference>ShortBOFECASEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New TBR - BOFE INV</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <startElementReference>Look_up_Originating_Case_which_is_a_PAGA_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BOFECaseSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>OriginalPAGACaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>SObject for the PAGA Case</description>
        <name>PAGACaseSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
</Flow>
