force-app/main/default/flows/User_Account_Freeze_over_90_days_since_last_login.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decision_Last_Login_Greater_Than_90_Days</name>
        <label>decision Last Login Greater Than 90 Days</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formulaLastLoginCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Login_IsFrozen_Field</targetReference>
            </connector>
            <label>Greater Than 90</label>
        </rules>
    </decisions>
    <description>Scheduled to run on a weekly schedule (Saturday evenings) instead of daily to give additional time to unfrozen accounts from being refrozen.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaLastLoginCheck</name>
        <dataType>DateTime</dataType>
        <expression>Now()-90</expression>
    </formulas>
    <interviewLabel>User Account - Freeze over 90 days since last login {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Account - Freeze over 90 days since last login</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_User_Date_Frozen_Field</name>
        <label>update User Date Frozen Field</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Date_Frozen__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Login_IsFrozen_Field</name>
        <label>Update User Login IsFrozen Field</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>update_User_Date_Frozen_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFrozen</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>UserLogin</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_Last_Login_Greater_Than_90_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00et0000000Hhd3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005d0000003aMMn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Do_NOT_Freeze__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Frozen__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00et0000001EI3N</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-02-04</startDate>
            <startTime>23:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
