force-app/main/default/flows/Violation_Affirmed_Modified_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_case_to_update_collection</name>
        <label>add case to update collection</label>
        <locationX>1217</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>colCasestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_case_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_liability_to_update_collection</name>
        <label>add liability to update collection</label>
        <locationX>1604</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>colLiabilitytoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_liability_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Subject_to_Writ_Checkbox</name>
        <label>Check Subject to Writ Checkbox</label>
        <locationX>860</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>objLiability.Subject_to_Writs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_liability_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Subject_to_Writ</name>
        <label>Clear Subject to Writ</label>
        <locationX>1230</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>objLiability.Subject_to_Writs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_liability_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hold_Status</name>
        <label>Set Hold Status</label>
        <locationX>1055</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>objCase.Collections_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_case_to_update_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the bankruptcy status of the account from the case. Account bankruptcy status is passed from PB</description>
        <name>Account_in_Bankruptcy</name>
        <label>Account in Bankruptcy</label>
        <locationX>612</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>Violation_Appeal_Deadline_NOT_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bankruptcy does NOT Apply</defaultConnectorLabel>
        <rules>
            <name>Bankruptcy_Applies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 12</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Case_to_Put_on_Hold</targetReference>
            </connector>
            <label>Bankruptcy Applies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found</name>
        <label>Cases Found</label>
        <locationX>794</locationX>
        <locationY>705</locationY>
        <defaultConnectorLabel>Case Not On Hold</defaultConnectorLabel>
        <rules>
            <name>Case_Put_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCaseStatusHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection</targetReference>
            </connector>
            <label>Case Put On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found_0</name>
        <label>Cases Found</label>
        <locationX>615</locationX>
        <locationY>1144</locationY>
        <defaultConnectorLabel>No Case End Process</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCaseStatusHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subject_to_Writ_checkbox_When_Before_55_days</name>
        <label>Check Subject to Writ checkbox When Before 55 days</label>
        <locationX>863</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Clear_Subject_to_Writ_checkbox_When_Before_55_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Before 55 days not applied</defaultConnectorLabel>
        <rules>
            <name>Status_Before_55_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Subject_to_Writ_Checkbox</targetReference>
            </connector>
            <label>Status Before 55 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_Subject_to_Writ_checkbox_When_Before_55_days</name>
        <label>Clear Subject to Writ checkbox When Before 55 days</label>
        <locationX>1227</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Clear_Subject_to_Writ_After_55_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Subject_to_Writ</targetReference>
            </connector>
            <label>Clear Subject to Writ After 55 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_Case_to_update</name>
        <label>Collection has Case to update</label>
        <locationX>1269</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cases_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCasestoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Hold_on_Cases</targetReference>
            </connector>
            <label>Cases to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_Liability_to_update</name>
        <label>Collection has Liability to update</label>
        <locationX>1902</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Liabilities_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitytoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Liabilities_subject_to_Writ</targetReference>
            </connector>
            <label>Liabilities to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Found</name>
        <label>Liabilities Found</label>
        <locationX>1062</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Liabilities_Subject_to_Writ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesSubjectToWrit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_liability_collection</targetReference>
            </connector>
            <label>Liabilities Subject to Writ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Found_With_Hold</name>
        <label>Liabilities Found With Hold</label>
        <locationX>1166</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Loop_over_case_collection_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Subject_to_Writ_Found</name>
        <label>Liabilities Subject to Writ Found</label>
        <locationX>1852</locationX>
        <locationY>976</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Writs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Liab_Subject_to_Writ_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_1</targetReference>
            </connector>
            <label>Liab Subject to Writ Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Writs_Found</name>
        <label>Open Writs Found</label>
        <locationX>1336</locationX>
        <locationY>1321</locationY>
        <defaultConnector>
            <targetReference>Set_Collection_Hold_On_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Writs Found</defaultConnectorLabel>
        <rules>
            <name>Writs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOpenWrits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_case_collection_0</targetReference>
            </connector>
            <label>Writs found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Affirmed_or_Modified</name>
        <label>Status Affirmed or Modified</label>
        <locationX>338</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_55_days</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varViolationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varViolationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Collection_Hold_on_Case</targetReference>
            </connector>
            <label>Before 55 days</label>
        </rules>
        <rules>
            <name>After_55_Days</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varViolationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varViolationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_liabilities_on_Assessment_to_set_to_subject_to_Writ</targetReference>
            </connector>
            <label>After 55 Days</label>
        </rules>
        <rules>
            <name>Appeal_DeadLine_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal Deadline Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Inputs</targetReference>
            </connector>
            <label>Appeal DeadLine Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>353</locationX>
        <locationY>846</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_in_Bankruptcy</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Violation_Appeal_Deadline_NOT_Passed</name>
        <label>Violation Appeal Deadline NOT Passed</label>
        <locationX>921</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>Find_Open_Case_to_take_OFF_on_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Violation Appeal Deadline NOT Passed DOES NOT Apply</defaultConnectorLabel>
        <rules>
            <name>Violation_Appeal_Deadline_NOT_Passed_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Collection_Hold_by_Appeal_Deadline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Violation Appeal Deadline NOT Passed Applied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Violation_StatusValid_Inputs</name>
        <label>Violation Status Valid Inputs</label>
        <locationX>54</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Input_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varViolationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssessmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAfter55days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Affirmed_or_Modified</targetReference>
            </connector>
            <label>Input Valid</label>
        </rules>
    </decisions>
    <description>This flow sets all the liabilities to &apos;subject to writ&apos; when Violation status is changed to &apos;Affirmed&apos; or &apos;Modified&apos;. It clears after 55 days. After it checks all conditions to clear case Collection Hold. Condition for New case issue&apos;s appeal deadline is added to this flow. This passes from PD</description>
    <interviewLabel>Violation Affirmed Modified Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Violation Status Change Affirmed Modified</label>
    <loops>
        <name>Loop_over_case_collection</name>
        <label>Loop over case collection</label>
        <locationX>1053</locationX>
        <locationY>708</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Hold_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_has_Case_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_case_collection_0</name>
        <label>Loop over case collection</label>
        <locationX>918</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FastLiability_Status_Under_Appeal</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_case_collection_1</name>
        <label>Loop over case collection</label>
        <locationX>1534</locationX>
        <locationY>1122</locationY>
        <assignNextValueToReference>objCase</assignNextValueToReference>
        <collectionReference>colCaseStatusHold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FastLiability_Subject_to_Writ</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_liability_collection</name>
        <label>Loop over liability collection</label>
        <locationX>1599</locationX>
        <locationY>195</locationY>
        <assignNextValueToReference>objLiability</assignNextValueToReference>
        <collectionReference>colLiabilitiesSubjectToWrit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Subject_to_Writ_checkbox_When_Before_55_days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_has_Liability_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FastLiability_Status_Under_Appeal</name>
        <label>FastLiability Status Under Appeal</label>
        <locationX>916</locationX>
        <locationY>1005</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Found_With_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Appeal</stringValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLiability_Subject_to_Writ</name>
        <label>FastLiability Subject to Writ</label>
        <locationX>1528</locationX>
        <locationY>856</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Subject_to_Writ_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject_to_Writs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Case_to_take_OFF_on_Hold</name>
        <label>Find Open Case to take OFF on Hold</label>
        <locationX>612</locationX>
        <locationY>1015</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>colCaseStatusHold</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collections_Hold__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_liabilities_on_Assessment_to_set_to_subject_to_Writ</name>
        <label>Get all liabilities on Assessment to set to subject to Writ</label>
        <locationX>579</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assessment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssessmentID</elementReference>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesSubjectToWrit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject_to_Writs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks for open writs on the case to determine if the hold is necessary or not</description>
        <name>Get_Open_Writs</name>
        <label>Get Open Writs</label>
        <locationX>1852</locationX>
        <locationY>1311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Writs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Writ__c</object>
        <outputReference>colOpenWrits</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Open_Case_to_Put_on_Hold</name>
        <label>Open Case to Put on Hold</label>
        <locationX>614</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>colCaseStatusHold</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collections_Hold__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Collection_Hold_on_Case</name>
        <label>Set Collection Hold on Case</label>
        <locationX>752</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_all_liabilities_on_Assessment_to_set_to_subject_to_Writ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collections_Hold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Collection_Hold_On_Case_0</name>
        <label>Clear Collection Hold On Case</label>
        <locationX>1142</locationX>
        <locationY>1497</locationY>
        <connector>
            <targetReference>Loop_over_case_collection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collections_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Hold_on_Cases</name>
        <label>Update Collection Hold on Cases</label>
        <locationX>1523</locationX>
        <locationY>708</locationY>
        <inputReference>colCasestoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Liabilities_subject_to_Writ</name>
        <label>Update Collection Liabilities subject to Writ</label>
        <locationX>1903</locationX>
        <locationY>614</locationY>
        <inputReference>colLiabilitytoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Violation_StatusValid_Inputs</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>colCaseStatusHold</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>colCasestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>colLiabilitiesSubjectToWrit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <description>Collection of liabilities on the case that have a hold required. Will be null if none require a hold</description>
        <name>colLiabilitiesWithHold</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <name>colLiabilitytoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <description>Collection of writs returned from querying for open writs on the case</description>
        <name>colOpenWrits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Writ__c</objectType>
    </variables>
    <variables>
        <description>current case in the collection loop</description>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>current liability in the collection loop</description>
        <name>objLiability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <description>Bankruptcy status of the account from the case. Passed from PB</description>
        <name>varAccountBankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAfter55days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID that is the parent of the liability that triggered the flow. Passed from PB</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID of the liability that triggered the flow</description>
        <name>varLiabilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status value of the liability that triggered the flow passed from PB</description>
        <name>varLiabilityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of status field on liability that triggered the flow passed from PB</description>
        <name>varLiabilityStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorValueBankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varViolationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varViolationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
