force-app/main/default/flows/Writ_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Input_Values</name>
        <label>Input Values</label>
        <locationX>164</locationX>
        <locationY>4</locationY>
        <assignmentItems>
            <assignToReference>VarWritID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1j630000001Ynl</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1B630000001k6U</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountBankruptcyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chapter 11</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarWritStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWritStatusPriorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the bankruptcy status of the account from the case. Account bankruptcy status is passed from PB.</description>
        <name>Account_in_Bankruptcy</name>
        <label>Account in Bankruptcy</label>
        <locationX>592</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Clear_Collection_Hold_On_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Bankruptcy_Applies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 12</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountBankruptcyStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapter 13</stringValue>
                </rightValue>
            </conditions>
            <label>Bankruptcy Applies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilites_found_with_hold</name>
        <label>Liabilites found with hold</label>
        <locationX>781</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Get_all_liabilities_that_are_subject_to_writ_require_HOLD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_Subject_to_Writ_Found</name>
        <label>Liabilities Subject to Writ Found</label>
        <locationX>948</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Writs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Liab_Subject_to_Writ_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilitiesWithHold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Liab Subject to Writ Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Writ_created_requires_hold</name>
        <label>New Writ created requires hold</label>
        <locationX>357</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Violation_Appeal_Deadline_NOT_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Hold</defaultConnectorLabel>
        <rules>
            <name>Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWritStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Collection_Hold_on_Case</targetReference>
            </connector>
            <label>Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Writs_Found</name>
        <label>Open Writs Found</label>
        <locationX>947</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Account_in_Bankruptcy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Writs Found</defaultConnectorLabel>
        <rules>
            <name>Writs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOpenWrits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Writs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Value_Required_Hold</name>
        <label>Prior Value Required Hold</label>
        <locationX>355</locationX>
        <locationY>546</locationY>
        <defaultConnectorLabel>Prior Value No Hold</defaultConnectorLabel>
        <rules>
            <name>Prior_Value_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWritStatusPriorValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Liabilities_on_case_that_require_Hold</targetReference>
            </connector>
            <label>Prior Value Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>162</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWritID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarWritStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Writ_created_requires_hold</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Violation_Appeal_Deadline_NOT_Passed</name>
        <label>Violation Appeal Deadline NOT Passed</label>
        <locationX>357</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Prior_Value_Required_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Violation Appeal Deadline NOT Passed DOES NOT Apply</defaultConnectorLabel>
        <rules>
            <name>Violation_Appeal_Deadline_NOT_Passed_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Collection_Hold_by_Appeal_Deadline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Violation Appeal Deadline NOT Passed Applied</label>
        </rules>
    </decisions>
    <description>Swited the logic on the Account Bankruptcy status options.</description>
    <interviewLabel>Writ Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Writ Status Change</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Liabilities_on_case_that_require_Hold</name>
        <label>Get all Liabilities on case that require Hold</label>
        <locationX>584</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilites_found_with_hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Appeal</stringValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_liabilities_that_are_subject_to_writ_require_HOLD</name>
        <label>Get all liabilities that are subject to writ require HOLD</label>
        <locationX>785</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liabilities_Subject_to_Writ_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject_to_Writs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Liability__c</object>
        <outputReference>colLiabilitiesWithHold</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Writs</name>
        <label>Get Open Writs</label>
        <locationX>944</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Writs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Writ__c</object>
        <outputReference>colOpenWrits</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Collection_Hold_On_Case</name>
        <label>Clear Collection Hold On Case</label>
        <locationX>340</locationX>
        <locationY>698</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collections_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Collection_Hold_on_Case</name>
        <label>Set Collection Hold on Case</label>
        <locationX>627</locationX>
        <locationY>135</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collections_Hold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of liabilites on the case that have a hold required. Will be null if none require a hold.</description>
        <name>colLiabilitiesWithHold</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <description>Find any open Writs per Case for updates.</description>
        <name>colOpenWrits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Writ__c</objectType>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Account Status is sent via the PB</description>
        <name>varAccountBankruptcyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Status from the account to control the</description>
        <name>VarAccountStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Id provided by the process builder</description>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Liability ID provided by the Process builder</description>
        <name>VarLiabilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Status of the liabilty</description>
        <name>VarLiabilityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the record id passed by the process builder</description>
        <name>VarWritID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Status provided by process builder</description>
        <name>VarWritStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWritStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
